@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --fondo-claro:white;
    --fondo-oscuro:whitesmoke;
    --espacio-pantalla:81%;
    --color-texto:#6d6c6c;
    --triangulos-indicador-color:#6d6c6c;
    --fuente-texto:'Roboto', sans-serif;
    --ancho-letra-parrafo:400;
    --interlineado-parrafo:30px;
    --maximo-espacio-pantalla:1100px;
}


*{
    margin: 0px;
    padding: 0px;
    }
    body{
     overflow: scroll;
     overflow-x: hidden;
     font-family:'Roboto', sans-serif;
     box-sizing: border-box;
    }
    
    /*propiedades precarga*/
#contenedor-precarga{
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--fondo-claro);
    z-index: 500;
    display: block;
}
#precarga{
    margin: 10% auto;
    width: 50%;
    height: 60%;
    display: block;
}
.contenido-precarga{
    margin: auto;
    width: 100%;
    height: 33.33%;
    margin-bottom: 20px;
}
.contenido-precarga img{
    width: 25%;
    height: 100%;
    object-fit: fill;
    margin-left: 40%;
}
@media screen and (max-width:450px){
    .contenido-precarga img{
        width: 60%;
    }
    #precarga{
        margin: 10% 15%;
    }
}
/*fin de propiedades*/

/*pŕopiedades de info posicion */
    .div-info-posicion a::after{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: 10px;
        left: 100%;
        bottom: 16px;
        border-top:8px solid transparent ;
        border-left:8px solid var(--triangulos-indicador-color);
        border-right: 8px solid transparent;
        border-bottom: 8px solid transparent;
    }
/*fin de las propiedades info posicion */

/*media querys de info posicion*/
@media screen and (max-width: 1070px){
    .div-posicion a,p{
        font-size: 15px;
    }
    .div-info-posicion a::after{
        bottom:18px;
        border-top:7px solid transparent ;
        border-left:7px solid var(--triangulos-indicador-color);
        border-right: 7px solid transparent;
        border-bottom: 7px solid transparent;
    }
}
@media screen and (max-width:400px){
    .div-posicion a,p{
        font-size: 13px;
    }
    .div-info-posicion a::after{
        bottom: 20px;
        border-top:6px solid transparent ;
        border-left:6px solid var(--triangulos-indicador-color);
        border-right:6px solid transparent;
        border-bottom:6px solid transparent;
    }

}
/*fin de media querys*/

/*propiedades de cualidades */
.div-contenedor{
    margin: 20px auto 0px;
    position: relative;
    width: var(--espacio-pantalla);
    max-width: var(--maximo-espacio-pantalla);
    height: auto;
    display: block;
}
.div-contenedor img{
    width: 100%;
    height: 50vh;
    max-height: 500px;

}

/*propiedades de contenedor de cualidades*/
.div-cualidades{
    width: 100%;
    height:auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
} 
.div-cualidades h1{
    font-size: 40px;
    font-weight: 500;

}
.div-cualidades p{
    text-align: justify;
    color:var(--color-texto);
    margin: 0;
    line-height: var(--interlineado-parrafo);
    font-weight: var(--ancho-letra-parrafo);
}
.contenedor-info-cualidades {
position: relative;
width: calc(50% - 20px);
height: auto;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
border-radius: 5px;
}
.contenedor-info-cualidades h2 {
    margin: 0 auto;
    margin-top: 10px;
}
.contenedor-info-cualidades h4{
    text-align: left;
    color:black;
    font-size: 20px;
    margin-top: 10px;
}

.div-contenedor-cualidades{
    position: relative;
    width: calc(50% - 20px);
    height: auto;
}
.div-contenedor-cualidades img{
width: 100%;
height: 30vh;
max-height: 250px;
}
.equipo{
    width: calc(25% - 20px);
    height: auto;
    text-align: center;
    border-radius: 10px;
}
.equipo img{
    width: 100%;
    height: 35vh;
    max-height: 300px;
    border-radius: 50%;
 
}

/*fin de propiedades de servicios*/

/* media querys de acerca de la empresa */
@media screen and (max-width:970px){
    .contenedor-info-cualidades {
        width: calc(100%);
        margin-bottom: 10px;
    }
    .contenedor-info-cualidades img{
        height: 300px;
    }
    .div-contenedor-cualidades{
        align-items: center;
        text-align: center;
    }
    .div-contenedor-cualidades img{
        width: 70%;
        height: 150px;
    }
    .div-contenedor-cualidades h4{
        text-align:center;
    }
    .div-cualidades h1{
        font-size: 40px;
    }
    .div-cualidades p{
        font-size: 15px;
    }
    .equipo{
        width: calc(50% - 20px);
        margin-bottom: 30px;
}

}
@media screen and (max-width:450px){
    .div-cualidades h1{
        font-size: 30px;
    }
    .div-cualidades p{
        font-size: 13px;
    }
    .div-contenedor-cualidades img{
        width: 100%;
        height: 150px;
    }
    .equipo{
        width: calc(100%);
    }
    .equipo img{
        height: 350px;
    }
}
