html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    }
    body{
     overflow: scroll;
     overflow-x: hidden;
    }

/*propiedades de info-posicion*/
.div-info-posicion a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 10px;
    left: 100%;
    bottom: 17px;
    border-top:8px solid transparent ;
    border-left:8px solid #999999;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
/*fin de las propiedades info posicion */

/*propiedades de servicios */
.div-contenedor{
    margin: 20px auto 0px;
    box-sizing: border-box;
    position: relative;
    width: 81%;
    height: auto;
    display: flex;
}
/*propiedades del menu de servicios */
.menu-servicios{
    width: 25%;
    height: 50%;
    position: relative;
    margin-right: 30px;
}
.menu-servicios a{
    text-decoration: none;
    color: #999999;
    font-weight: 900;
    display: block;
    padding: 23px 20px;

}
.menu-servicios ul{
    list-style: none;
    padding: 0px;
}
.menu-servicios li{
    border: 1px solid #999999;
}
.menu-servicios li:hover{
    background: #f2f2f2;
    border-left: 2px solid #fdc703;
    transition: all 0.7s ease ;
}
.menu-servicios li>a:hover{
    color: black;

}
.menu-servicios li#aco{
    border-left:  3px solid #fdc703;
    background: #f2f2f2;
}
.menu-servicios li#aco a{
    color: black;
}
/*fin de propiedades de menu servicios */

/*propiedades de contenedor de servicios*/
.div-contenedor-servicios{
    position: relative;
 width: 75%;
    height: auto;
    display: block;
 
}
.div-servicios{
 width: 100%;
    width: 100%;
    height:auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 
.contenedor-info-cons {
position: relative;
width: calc(50% - 15px);
height: auto;
background: white;
border-radius: 5px;
margin-bottom: 30px;
}
.contenedor-info-img{
    width: 100%;
    height: 300px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: rgb(230, 229, 229);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-info-img a{
    width: 100%;
    height: 100%;
}
.contenedor-info-img img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    object-fit: fill;
    transition: all linear 0.2s;
    
}
.contenedor-info-img img:hover{
    transform: scale(1.05);
    opacity: 0.4;
}
.contenedor-info-img:hover::before{
    transform: scale(0.10);
    transition:all linear 0.3s;
    opacity: 1;
}
.contenedor-info-img::before{
    content:url("/Imagenes-MAPER/lupa.png");
    position: absolute;
    transform: scale(0);
    transition: all linear 0.2s;
}

.contenedor-info-cons p{
    text-align: justify;
    color:#999999;
    margin: 0;
    line-height: 25px;
    font-weight: 400;
}

.texto-descarga{
    width: 100%;
    height: 20%;
    display: flex;
    border: 1px solid #999999;
    border-left: 4px solid #999999; 
    align-items: center;
}

.texto-descarga:hover{
    background: #f2f2f2;
    border-left: 4px solid #fdc703;
    transition: all 0.7s ease;
}
.texto-descarga:hover i{
    color:black;
    transition: all 0.7s ease;
}
.texto-descarga span{
    color:black;
    font-size: 15px;
    margin-left: 20px;
}
.texto-descarga i{
    text-align: justify;
    color: #999999;
    font-size: 15px;
    margin-left: 20px;
}
.icono-descarga{
    text-decoration: none;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: left;
    }
    .icono-descarga span{
        font-size: 35px;
        width: 35px;
        height: 35px;
    align-items: center;
    justify-content: center;
    transition: all 2s;
    }
/*fin de propiedades de servicios*/

/*medias querys de info servicio*/
@media screen and (max-width: 1070px){
    .menu-servicios a{
        padding: 20px;
        font-size: 14px;
    }
    .div-posicion a,p{
        font-size: 15px;
    }
    .div-info-posicion a::after{
        bottom:20px;
        border-top:6px solid transparent ;
        border-left:6px solid #999999;
        border-right: 6px solid transparent;
        border-bottom: 6px solid transparent;
    }
}
@media screen and (max-width:970px){
    .div-contenedor{
        display: block;
    }
    .menu-servicios{
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
    }
    .div-servicios{
        margin-bottom:0;;
    }

    .div-contenedor-servicios{
        width: 100%;
    }
    .contenedor-info-cons{
        width: calc(100%);
        height: auto;
        margin-bottom: 10px;
    }

    .menu-servicios a{
        padding: 10px 20px;
        border-radius: 5px;
    }
    .menu-servicios li{
        border-radius: 5px;
        margin-bottom: 5px;
    }
    .texto-descarga{
        width: 100%;
        height: 50%;
}
}
@media screen and (max-width:540px){
    .div-info-posicion a::after{
        bottom: 21px;
        border-top:6px solid transparent ;
        border-left:6px solid #999999;
        border-right:6px solid transparent;
        border-bottom:6px solid transparent;
    }
    .div-info-posicion a,p{
        font-size: 13px;
        margin-right: 20px;
    }
    .txt-servicios h1{
        font-size: 25px;
    }
    .contenedor-info-cons p{
        font-size: 14px;
    }
}
/*fin de las medias querys de info servicio */
