/*lineado sobre texto de correo*/
.icono-texto a{
    text-decoration: none;
}
.icono-texto a > i:hover{
    text-decoration: underline;

}
.texto-icono a{
    text-decoration: none;
}
.texto-icono a > i:hover{
    text-decoration: underline;

}
.div-texto-iconos a{
    text-decoration: none;
    color: black;
}
.div-texto-iconos a > i:hover{
    text-decoration: underline;
}
.texto-pie-pagina{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.texto-pie-pagina p{
    padding: 0px;
    margin:0px;
}

/*propiedades de boton ir arriba*/
.ir-arriba{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 80px;
    right: 1.3%;
    z-index: 150;
    display: none;
}
.ir-arriba a{
    text-decoration: none;
}
.icono-ir-arriba:hover{
    background: #807d7d;
    transition: all linear 0.3s;
}
.icono-ir-arriba{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
    transition: all linear 0.3s;
    
    }
    .icono-ir-arriba span{
       font-size: 40px;
       width: 40px;
       height: 40px;
       display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s;
    }
    @media screen and (max-width:1070px){
        .ir-arriba{
            bottom: 70px;
            right: 2%;
            width: 40px;
            height: 40px;
        }
        .icono-ir-arriba{
        width: 40px;
        height: 40px;
        }
        .icono-ir-arriba span{
           font-size: 35px;
           width: 35px;
           height: 35px;
    }
    }
    @media screen and (max-width:970px){
        .ir-arriba{
            right: 15px;
        }
           
    }
