:root{
    --fondo-claro:white;
    --fondo-oscuro:whitesmoke;
    --espacio-pantalla:81%;
    --color-texto:#6d6c6c;
    --triangulos-indicador-color:#6d6c6c;
    --fuente-texto:'Roboto', sans-serif;
    --ancho-letra-parrafo:400;
    --interlineado-parrafo:30px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    }
    body{
     overflow: scroll;
     overflow-x: hidden;
     font-family: var(--fuente-texto);
     box-sizing: border-box;
    }
    
/*pŕopiedades de info posicion */
.div-info-posicion a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 10px;
    left: 100%;
    bottom: 17px;
    border-top:8px solid transparent ;
    border-left:8px solid var(--triangulos-indicador-color);
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
/*fin de las propiedades info posicion */

/*propiedades de servicios */
.div-contenedor{
    margin: 20px auto 0px;
    box-sizing: border-box;
    position: relative;
    width: var(--espacio-pantalla);
    height: auto;
    display: flex;
}

/*propiedades de contenedor de servicios*/
.div-contenedor-servicios{
    position: relative;
    width: 75%;
    height: auto;
    display: block;
}
.div-servicios{
    width: 100%;
    height:auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   margin-bottom: 30px;
} 
.contenedor-info-diseño {
position: relative;
width: calc(50% - 20px);
height: auto;
background: var(--fondo-claro);
border-radius: 5px;
}
.contenedor-info-diseño img{
    width: 100%;
    height: 400;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.contenedor-info-diseño p{
    text-align: justify;
    color:var(--color-texto);
    margin: 0;
    line-height: var(--interlineado-parrafo);
    font-weight: var(--ancho-letra-parrafo);
}

.btn-acordeon{
    height: auto;
    border: 1px solid var(--color-texto);
    border-left: 4px solid var(--color-texto);
    display: flex;
    cursor: pointer;
    transition: all 0.7s;
}
.btn-acordeon:hover .icono-acordeon span{
    transition: all 0.7s;
    transform: rotate(180deg);
}
.icono-acordeon{
    text-decoration: none;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--color-texto);
    }
    .icono-acordeon span{
        font-size: 35px;
        width: 35px;
        height: 35px;
    align-items: center;
    justify-content: center;
    }

.txt-btn-acordeon{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 16px;
}
.info-acordeon{
    height:auto;
    display: none;
    text-align: justify;
    color:black;
    border-left: 4px solid #fec701;
}
.info-acordeon p{
    margin:10px 15px;
    padding: 0px;
    font-size: 15px;
}
/*fin de propiedades de servicios*/

/*medias querys de informacion servicio*/
@media screen and (max-width: 1070px){
    .div-posicion a,p{
        font-size: 15px;
    }
    .div-info-posicion a::after{
        bottom:18px;
        border-top:7px solid transparent ;
        border-left:7px solid var(--triangulos-indicador-color);
        border-right: 7px solid transparent;
        border-bottom: 7px solid transparent;
    
    }
}
@media screen and (max-width:970px){
    .div-contenedor{
        display: block;
    }
    .div-servicios{
        margin-bottom:0;
    }

    .div-contenedor-servicios{
        width: 100%;
    }
    .contenedor-info-diseño{
        width: calc(100%);
        height: auto;
        margin-bottom: 10px;
    }
    .contenedor-info-diseño  img{
        height: 200px;
    }
}

@media screen and (max-width:450px){
    .div-info-posicion a::after{
        bottom: 20px;
        border-top:6px solid transparent ;
        border-left:6px solid var(--triangulos-indicador-color);
        border-right:6px solid transparent;
        border-bottom:6px solid transparent;
    }
    .div-info-posicion a,p{
        font-size: 14px;
        margin-right: 25px;
    }
    .txt-servicios h1{
        font-size: 25px;
    }
    .contenedor-info-diseño p{
        font-size: 14px;
    }
}
/*fin de la medias querys de info servicio*/
