html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    }
    body{
     overflow: scroll;
     overflow-x: hidden;
    }
/*propiedades de servicios */
.div-contenedor{
    margin: 20px auto 0px;
    box-sizing: border-box;
    position: relative;
    width: 81%;
    height: auto;
    display: flex;
}

/*propiedades info-posicion*/
.div-info-posicion a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 100%;
    margin-left: 10px;
    bottom: 17px;
    border-top:8px solid transparent ;
    border-left:8px solid #999999;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    }
    /*fin de las propiedades info posicion */ 

/*propiedades de contenedor de servicios*/
.div-contenedor-servicios{
    position: relative;
    width: 75%;
    height: auto;
    display: block;
 
}
.div-servicios{
    width: 100%;
    height:auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   margin-bottom: 30px;
} 
.contenedor-info-diseño {
position: relative;
width: calc(50% - 20px);
height: auto;
background: white;
border-radius: 5px;
}
.contenedor-info-diseño img{
    width: 100%;
    height: 400;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.contenedor-info-diseño p{
    text-align: justify;
    color:#999999;
    margin: 0;
    line-height: 25px;
    font-weight: 400;
}
.contenedor-info-diseño label::before{
content: "+";
font-size: 20px;
font-weight: 600;
margin: 15px 10px;
color: #999999;
}
.lblacordeon{
    border: 1px solid #999999;
    border-left: 4px solid #999999;
    display: block;
    padding: 15px 0;
    cursor: pointer;
    background:white;
    
}
.lblacordeon:hover{
    background: #f2f2f2;
    border-left: 4px solid #fec701;
    transition: all 0.7s ;
}
.contenedor-info-diseño input{
    display: none;
}
#acordeon1:checked ~ #info1, #acordeon2:checked ~ #info2, #acordeon3:checked ~ #info3{
    max-height: 500px;
    height: 150px;
    padding: 0 30px;
    transition: all linear 0.6s ;
    z-index: 1;
    background: #f2f2f2;
}
#acordeon1:checked ~ #lbla1, #acordeon2:checked ~ #lbla2, #acordeon3:checked ~ #lbla3{
    border-left: 4px solid #fec701;
}
#acordeon1:checked ~ #lbla1::before, #acordeon2:checked ~ #lbla2::before, #acordeon3:checked ~ #lbla3::before{ 
    content: "-";
    margin: 15px 10px;
    font-size: 20px;
    font-weight: 1000;
    color: #999999;
}
.info{
    font-size: small;
    text-align: justify;
    color:black;
    transition: all linear 0.6s;
    margin: 0;
    padding: 0px;
    height: 0px;
    overflow: hidden;
    border-left: 4px solid #fec701;
}
/*fin de propiedades de servicios*/

/*medias querys de informacion servicio*/
@media screen and (max-width: 1070px){
    .div-posicion a,p{
        font-size: 15px;
    }
    .div-info-posicion a::after{
        bottom:20px;
        border-top:6px solid transparent ;
        border-left:6px solid #999999;
        border-right: 6px solid transparent;
        border-bottom: 6px solid transparent;
    }
}
@media screen and (max-width:970px){
    .div-contenedor{
        display: block;
    }
    .div-servicios{
        margin-bottom:0;
    }
    .div-contenedor-servicios{
        width: 100%;
    }
    .contenedor-info-diseño{
        width: calc(100%);
        height: auto;
        margin-bottom: 10px;
    }
    .contenedor-info-diseño  img{
        height: 200px;
    }
}

@media screen and (max-width:490px){
    .div-info-posicion a::after{
        border-top:6px solid transparent ;
        border-left:6px solid #999999;
        border-right:6px solid transparent;
        border-bottom:6px solid transparent;
    }
    .div-info-posicion a,p{
        font-size: 14px;
        margin-right: 25px;
    }
    .txt-servicios h1{
        font-size: 25px;
    }
    .contenedor-info-diseño p{
        font-size: 14px;
    }
}
/*fin de la medias querys de info servicio*/
