html{
    scroll-behavior: smooth;
}
*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body{
 overflow: scroll;
 overflow-x: hidden;
}
/*propiedades precarga*/
#contenedor-precarga{
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 500;
    display: block;
}
#precarga{
    margin: 10% auto;
    width: 50%;
    height: 60%;
    display: block;
}
.contenido-precarga{
    margin: auto;
    width: 100%;
    height: 33.33%;
    margin-bottom: 20px;
}
.contenido-precarga img{
    width: 25%;
    height: 100%;
    object-fit: fill;
    margin-left: 40%;
}
@media screen and (max-width:450px){
    .contenido-precarga img{
        width: 70%;
    }
    #precarga{
        width: calc(50%);
        margin: 10% 15%;
    }
}
/*fin de propiedades*/
#contacto{
    width: 100%;
    height: auto;
    position:relative;
    display:flex;
    font: bold 15px arial;
    background: whitesmoke;
        }
        .figura-esquinas-izq,.figura-esquinas-der{
            width: 10%;
            height: 50px;
            background: white;
            position: relative;
        }
        .figura-esquinas-izq::before{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            right: 0;
            border-top: 50px solid #f5f5f5;
            border-left: 50px solid transparent;
        }
        .figura-esquinas-der::before{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            left: 0;
            border-top: 50px solid #f5f5f5;
            border-right: 50px solid transparent;
        }

    .centrado-contacto{
    max-width: 100%;
    width: 81%;
    height: 50px;
    position: relative;
    margin: 0px auto;

                        }
        .Contenedor-contacto{
        position: relative;
        height: 100%;
        width: 80%;
        margin:0px auto;
        display: flex;
        justify-content: space-between;

                            }
                            /* propiedades de los iconos*/
.cont-info-contacto{
    width: calc(33.333 - 10px);
   height: 100%;
   text-align: justify;
   display: inline-flex;
   align-items: center;
}
.info-contacto {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.info-contacto a{
    color: black;
    text-decoration: none;
}
.info-contacto a i:hover{
    text-decoration: underline;
}

.Contenedor-contacto span{
   color:black;
   font-size: 15px;
   
}
.Contenedor-contacto i{
   color: black;
   font-size: 13px;

}
.iconos-social{
text-decoration: none;
width: 45px;
height: 45px;
display: flex;
align-items: center;
justify-content: left;
}
.iconos-social span{
   font-size: 25px;
   width: 35px;
   height: 35px;
   display: flex;
align-items: center;
justify-content: center;
transition: all 2s;
}
/* fin de las  propiedades de los iconos */
/*propiedades cabecera*/
#Cabecera{
  width: 100%; 
  height: auto;
  position: relative;
        }
.centrado-nav-logo{
    max-width: 100%;
    width: 81%;
    height: 100px;
    position: relative;
    margin: 0 auto 20px auto;
    display:flex;
}
 #Imagen-logo{
    height: 100%;
    width: 20%;
    position: relative;
    margin:10px auto;
    }
    #Imagen-logo img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    /*boton lenguaje*/
    .btn-lenguaje{
        position: absolute;
        width: 9.5%;
        height: 35px;
        top: 0px;
        right: 0px;
        background: #d8d6d6;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .btn-lenguaje a{
        text-decoration: none;
        color: black;
        width: 100%;
        height: 100%;
    }
    .btn-lenguaje a img{
        height: 35px;
        width: 35px;
        float: left;
        margin-bottom: 10px;
    }
    .btn-lenguaje p{
        text-align: center;
        margin-top: 10px;
    }
    .btn-lenguaje:hover{
        height: 75px;
        overflow: visible;
    }
    .btn-lenguaje:hover a{
        height: 50%;
        border-bottom: 2px solid white;
    }
    .btn-lenguaje a:nth-child(2):hover{
        background: #999999;
    }
    /*fin de propiedades*/

    /*media querys de boton lenguaje*/
    @media screen and (max-width:1070px){
        .btn-lenguaje p{
            font-size: 13px;
        }
    }
    @media screen and (max-width:970px){
        .btn-lenguaje{
            display:none;
        }
    }
    /*fin de media querys*/

    /*clases utilizadas para dm que no se ven en pantalla grande*/
    .btn-lenguaje-dm{
        display: none;
    }
    .contactor{
        display:none;
    }
    .div-contacto{
        display:none;
    }
    .btn-menu{
        display:none;
    }
    #mn{
        display:none;
    }
    .navega{
        margin: 0;
        padding: 0px;
        height: 0px;
        overflow: hidden;
    }
    .servicios{
        margin: 0;
        padding: 0px;
        height: 0px;
        overflow: hidden;
    }
    /*fin propiedades*/

/*Propiedades del menu navegador */
.menu{
    background: white;
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin-left: 30px;
    align-items: center;
}
.menu  ul{
    list-style: none;
    overflow: hidden;
    display: table;
    width: 100%;
}
#at{
    color: black;
}
#at::before{
    content: "";
    position: absolute;
    bottom: 40px;
    width: calc(100% - 1.75rem);
    height: 2px;
    background: black;
}
#as::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 40%;
    bottom: 30px;
    border-top: 8px solid #999999;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.menu a{
    text-decoration: none;
    position: relative;
    color: #999999;
    font-weight: 800;
    display: block;
    padding:50px 15px;
    border-bottom: 1px solid transparent;

}
.menu  > ul > li{
    float: left;
}
.menu a:hover{
    color: black;   
    transition: all 0.8s;
}
/* Menu de segundo nivel */
.menu2 a{
    padding:20px 10px;
    color: white;
}
.menu li ul{
    position: absolute;
    width: 300px;
}
.menu  li:hover li{
   max-height: 500px;
   height: 50px;
   border: 1px solid  #ebaa12;
   background: #fec800;
   overflow: visible; 
  
}
.menu li li{ 
    width: 300px;
    max-height: 0;
    height: 0;
    overflow: hidden;
    transition: all .7s;
}
.menu2{
    top: 120px;
    z-index: 200;
    visibility: hidden;
}
.menu li:hover .menu2{
    visibility: visible;
}
.menu ul ul :hover{
    background: #ebaa12;
}
.menu  li>ul>li>{ 
    max-height: 0;
    height: 0;
    overflow: hidden;
    transition: all .7s;
}
/*fin de propidades*/

/*media querys de menu navegacion de cabecera */
@media screen and (min-width:2100px){
.menu > ul > li{
    margin-left: 50px;
}
}
@media screen and (min-width:1900px){
    .menu > ul > li{
        margin-left: 40px;
    }
}
@media screen and (min-width:1650px){
    .menu  > ul > li{
        margin-left: 30px;
    }
}
@media screen and (min-width:1500px){
    .menu  > ul > li{
        margin-right: 20px;
    }
}
@media screen and (max-width:1270px){
    .menu  a{
        padding:50px 10px;
    }
    .menu2 a{
        padding:20px 10px;
        color: white;
    }
    .menu  li>ul>li{ 
        width: 250px;
    }
    #at::before{
        content: "";
        position: absolute;
        bottom: 40px;
        width: calc(100% - 1.25rem);
        height: 2px;
        background: black;
    }
    .menu li ul{
        width: 250px;
    }
}
@media screen and (max-width:1150px){
    .menu a{
        padding:50px 5px;
    }
    .menu2 a{
        padding:20px 10px;
        color: white;
    }
    #at::before{
        content: "";
        position: absolute;
        bottom: 40px;
        width: calc(100% - .65rem);
        height: 2px;
        background: black;
    }
 
}
@media screen and (max-width:1070px){
    .menu a{
        font-size: 15px;
    }
    .menu li>ul>li{ 
        width: 220px;
        font-size: 15px;
    }
    .menu2 a{
        padding:20px 10px;
        color: white;
    }
    .menu li ul{
        width: 220px;
    }
    .Contenedor-contacto i{
        font-size: 11px;
     }
}
@media screen and (max-width:1020px){
    .menu  a{
        font-size: 14px;
    }
    .menu li>ul>li{ 
        width: 210px;
        font-size: 15px;
    }
    .menu2 a{
        padding:20px 10px;
        color: white;
    }
    .menu li ul{
        width: 210px;
    }
}
/* fin de las propiedades del menu navegador */
/*fin propiedades de la cabecera */

/*media querys de la cabecera*/
@media screen and (max-width:970px){
    /*cabecera*/
    #Cabecera{
        height: auto;
        width: 100%; 
     }
     .Contenedor-contacto{
         display:none;
     }
     /*boton lenguaje para dispositivos pequeños*/
     .btn-lenguaje-dm{
         width: 30%;
         height: 70%;
         background: #ebaa12;
         position: absolute;  
         left: 40%;     
         display: block;
         z-index: 100;
         cursor: pointer; 
     }
     .btn-lenguaje-dm ul{
        list-style: none;
        width: 100%;
        height: 110%;
        background: #ebaa12; 
        display: flex;
     }
     .btn-lenguaje-dm li{
         border-top: 2px solid white;
     }
     .btn-lenguaje-dm a{
        text-decoration: none;
        color: black;
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    .btn-lenguaje-dm a img{
        height: 100%;
        width: 40%;
        float: left;
    }
    .btn-lenguaje-dm  p{
        text-align: center;
        margin-top: 5px;
        font-size: 17px;
        font-weight: 500;
    }

    /*fin de propiedades*/

     .menu{
         display: none;
     }
     #Imagen-logo{
        width: 40%;
        height: 110px;
        margin:10px 0;
        }
        .btn-menu{
            width: 120px;
            height: 110px;
            position: absolute;
            display: flex;
            right: 0;
            top:10px;
            background: #ebaa12;
            align-items: center;
            padding: 10px;
            z-index: 10;
            cursor: pointer;
            transition: all linear .5s;
        }
        #mn{
            display:none;
        }
        /*menu de navegacion */
        .navega{
            max-width: 1100px;
            width: 81%;
            font-size: small;
            text-align: justify;
            color:black;
            overflow: hidden;
            margin:40px auto 10px auto;
            padding: 0px;
            height: 0px;
            transition: all linear 0.6s;
        }
        #mn:checked ~ #mna{
            height: 560px;
            overflow: visible;
            transition: all linear 0.6s;
        }
       
        .navega  li{
            line-height: 50px;
            background: rgb(177, 169, 169, 0.1);
            position: relative;
        }
        .navega  ul{
            list-style: none;
            padding: 0px;
       
        }
        .navega a{
            text-decoration: none;
            color: black;
            font-weight: 800;
            display: block;
            padding: 0 20px;
        }
        #ini{
           text-decoration: double underline;
           font-size: 15px;
        }
        
        .navega li ul a{
            color: #999999;
            padding-left: 40px;
            font-weight: 400;
            font-size: 14px;
        }
        .navega li ul a:hover{
            color:black;
        }
        
       
        /*informacion de contacto*/
        .contactor{
            max-width: 1100px;
            width: 81%;
            height: auto;
            position: relative;
            margin: 20px auto;
            display:block;
            background: white;
        }
        .div-contacto{
            width: 100%;
           height: calc(33.3333%);
           text-align: justify;
           display: flex;
           align-items: center;
           border-bottom: 1px solid rgba(158, 150, 150, .50);
       }
       .div-cont-contacto-pdps{
        width: 80%;
        height: 100%;
        text-align: justify;
        display: block;
        padding: 15px 0;
       }
       .div-cont-contacto-pdps a {
           display: inline-block;
           margin-bottom: 5px;
       }
       .div-cont-contacto-pdps h4{
           color: #999999;
           font-weight: 100;
           font-size: 15px;
       }
       .iconos-contacto{
        text-decoration: none;
        width: 60px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        }
        .btn {
            font-size: 30px;
            width: 40px;
            height: 40px;
            display: flex;
        align-items: center;
        justify-content: center;
        transition: all 2s;
        }
        .iconos-contacto span{
            font-size: 40px;
            width: 50px;
            height: 50px;
            display: flex;
        align-items: center;
        justify-content: center;
        transition: all 2s;
        }
}
@media screen and (max-width:570px){
    .div-cont-contacto-pdps i{
        font-size: 13px;
    }
    .iconos-contacto span{
        font-size: 25px;
        width: 30px;
        height: 30px;

    }
        .btn-menu{
            width: 100px;
            height: 70%;
            top:30%;
            transition: all linear .5s;
    }
    #Imagen-logo{
        width: 50%;
    } 
    .btn-lenguaje-dm  p{
        font-size: 14px;
    }
}
@media screen and (max-width:390px){
    .div-cont-contacto-pdps i{
        font-size: 12px;
    }
   
}
/*fin de media querys cabecera*/

/* propiedades del icono de whatsapp */
.w-contenedor{
    position: fixed;
    height: 70px;
    width: 80px;
    right: 0px;
    bottom: 10px;
    display: flex;
    z-index: 300;
    justify-content: right;
    transition: all linear 0.6s;
    justify-content: center;
    align-items: center;
}
.w-contenedor a#ref{
   visibility: hidden;
}
.w-contenedor:hover{
width: 25%;
transition: all linear 0.6s;
}
.w-contenedor:hover .w-texto{
    width:73%;
    transition: all linear 0.6s;
    visibility: visible;
}
.w-contenedor:hover a#ref{
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: visible;
}
.w-texto{
    height: 60%;
    width: 0px;
    display: flex;
    overflow:hidden;
    background: #f5f5f5;
    transition: all linear 0.6s;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.w-texto p{
    font-size:13px;
    font-weight: 700;
}

.icono-w{
width: 60px;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
color: white;
border-radius: 50%;
background: #0fbe43;
}
.icono-w span{
   font-size: 50px;
   width: 50px;
   height: 50px;
   display: flex;
align-items: center;
justify-content: center;
transition: all 2s;
}
/*fin de las propiedades */

/*Media querys de boton whatsapp*/
@media screen and (min-width:1500px){
    .w-contenedor:hover{
        width: 20%;
        }
}
@media screen and (max-width:1260px){
    .w-texto p{
    text-align: center;
    }
}
@media screen and (max-width:1070px){
    .w-contenedor{
        height: 60px;
    }
    .w-texto p{
        font-size:12px;
    }
    .icono-w{
    width: 50px;
    height: 50px;
    }
    .icono-w span{
       font-size: 40px;
       width: 45px;
       height: 45px;
}
}
@media screen and (max-width:970px){
    .w-contenedor:hover .w-texto{
        display:none;
    }
    .w-contenedor{
        width: 70px;
    }
    .w-contenedor:hover{
        width: 70px;
    }
}
@media screen and (max-width:570px){
    .w-contenedor{
        height: 60px;
        width: 60px;
        margin-right: 5px;
    }
    .w-contenedor:hover{
        width: 60px;
    }
}
/*fin de las media querys*/

/*lineado sobre texto de correo*/
.cont-info-contacto a{
    text-decoration: none;
}
.cont-info-contacto a > i:hover{
    text-decoration: underline;

}
.cont-contacto-pdp a{
    text-decoration: none;
}
.cont-contacto-pdp a > i:hover{
    text-decoration: underline;

}
.div-cont-contacto-pdps a{
    text-decoration: none;
    color: black;
}
.div-cont-contacto-pdps a > i:hover{
    text-decoration: underline;
}
.texto-pie-pagina{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.texto-pie-pagina p{
    padding: 0px;
    margin:0px;
}

/*propiedades de boton ir arriba*/
.ir-arriba{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 80px;
    right: 1.2%;
    z-index: 150;
    display: none;
}
.ir-arriba a{
    text-decoration: none;
}
.icono-ir-arriba:hover{
    background: #807d7d;
    transition: all linear 0.3s;
}
.icono-ir-arriba{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
    transition: all linear 0.3s;
    
    }
    .icono-ir-arriba span{
       font-size: 40px;
       width: 40px;
       height: 40px;
       display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s;
    }
    @media screen and (max-width:1070px){
        .ir-arriba{
            bottom: 70px;
            right: 2%;
            width: 40px;
            height: 40px;
        }
        .icono-ir-arriba{
        width: 40px;
        height: 40px;
        }
        .icono-ir-arriba span{
           font-size: 35px;
           width: 35px;
           height: 35px;
    }
    }
    @media screen and (max-width:970px){
        .ir-arriba{
            right: 15px;
        }
           
    }

/* propiedades del slider */
.Contenedor-slider{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all linear .5s;
    } 
    .slider-item{
        position: relative;
        height: 460px;
        width: 100%;
        z-index: 0;
        transition: all linear .5s;
    }
    .slider-item2{
        background-image: url("../Imagenes-MAPER/construccion.jpeg");
        background-size: 100% 100%;
        object-fit: fill;
        border-radius: 10px;
        width: 100%;
        height:100%;
        transition: all linear .5s;
    }
    .slider-item1{
        background-image: url("../Imagenes-MAPER/Construccion2.jpeg");
        background-size: 100% 100%;
        object-fit: fill;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        transition: all linear .5s;
    }
    .navegacion-btn{
        width: 20%;
        height: 10%;
        position: absolute;
        bottom: 5%;
        left: 10%;
        text-align: center;
        justify-content: center;
    }   
    .btns{
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btns span{
        font-size: 30px;
        width: 30px;
        height: 30px;
    }
    .NextBtn{
       position: absolute;
      right: 0px;
       height: 100%;
       width: calc(50% - 5px);
        background: rgba(158, 150, 150, .80);
        z-index: 100;
        cursor: pointer;
    }
    .PrevBtn{
        position: absolute;
        left: 0px;
        top: 0px;
       height: 100%;
       width: calc(50% - 5px);
       background: rgba(158, 150, 150, .80);
       z-index: 100;
       cursor: pointer;
    }
    .NextBtn:hover, .PrevBtn:hover{
        background: rgba(238, 229, 229, 0.8);
    }

.texto-fondo{
    position: absolute;
    color: rgb(255, 255, 255);
    height: 30%;
    width: 50%;
    text-align: justify;
    margin-left: 10%;
    margin-top: 80px;
    transition: all linear .5s;
}
.texto-fondo h1{
    font-size: 45px;
    font-weight: 800;
    transition: all linear .5s;
}
.texto-fondo p{
    font-size: 20px;
    margin-top: 10px;
    transition: all linear .5s;
}

/* fin de las  propiedades del slider */    
/*medias querys del slider*/
@media screen and (min-width:1650px){

    .slider-item{
        height: 600px;
    }
}
@media screen and (max-width:970px){

        .slider-item{
            height: 350px;
        }
        .texto-fondo{
            height: 50%;
            width: 50%;
        }
        .texto-fondo h1{
            font-size: 35px;
            font-weight: 800;
        }
        .texto-fondo p{
            font-size: 15px;
        }
}
@media screen and (max-width:720px){
    .Contenedor-slider{
        background: #eee8e8;
    }
    .slider-item{
        height: 500px;
    }
    .slider-item2{
        width: 100%;
        height: 300px;
        background-size: 100% 300px;
    }
    .slider-item1{
        background-size: 100% 300px;
        width: 100%;
        height: 300px;
    }
    .texto-fondo{
        height: 200px;
        width: 80%;
        left: 0px;
        top: 220px;
        color: black;
    }
    .navegacion-btn{
        width: 100%;
        height: 10%;
        bottom: 70%;
        left: 0;
    }   
    
    .NextBtn{
       width: calc(8%);
    }
    .PrevBtn{
        width: calc(8%);
    }
    @media screen and (max-width:400px){
        .texto-fondo h1{
            font-size: 30px;
            font-weight: 800;
        }
        .texto-fondo p{
            font-size: 14px;
        }
    }
    #Imagen-logo{
        width: 50%;
    }
}
/*fin de media querys*/

/* propiedades de Seccion de servicios */
.contenido-seccion-servicios{
    background: #f5f5f5;
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.separador-seccion-servicios{
    position: relative;
    right:100%;
    height: 100%;
    width: 81%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.seccion-servicios{
    position: relative;
    width: calc(33.333% - 20px);
    height: 100%;
    margin:20px 0px;
    line-height: 25px;
    font-weight: 100;
}
.seccion-servicios-img{
    width: 100%;
    height: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgb(230, 229, 229);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seccion-servicios-img a{
    width: 100%;
    height: 100%;
}
.seccion-servicios-img img{
    width:100%;
    height: 100%;
    object-fit: fill;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all linear 0.3s;
}
.seccion-servicios-img img:hover,.servicios-pequeños-img img:hover{
    transform: scale(1.05);
    opacity: 0.4;
    transition: all linear 0.3s;
}
.seccion-servicios-img:hover::before{
    transform: scale(0.10);
    transition:all linear 0.3s;
    opacity: 1;
}
.seccion-servicios-img::before,.servicios-pequeños-img::before{
    content:url("/Imagenes-MAPER/lupa.png");
    position: absolute;
    transform: scale(0);
    transition: all linear 0.3s;
}
.seccion-servicios-txt{
    width: 100%;
    height: auto;
}
.seccion-servicios-txt p{
    margin-top:10px;
}
.seccion-servicios-txt a{
    display: inline-block;
    text-decoration: none;
    color: black;
}
.seccion-servicios-txt h5{
    margin-top: 20px;
    color: blue;
    position: relative;
}
.seccion-servicios-txt h5::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 100%;
    bottom: 6px;
    margin-left: 10px;
    border-top: 6px solid transparent ;
    border-left: 6px solid blue;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
}
.seccion-servicios-txt h4:hover,.seccion-servicios-txt h5:hover{
    text-decoration: underline;
}

.servicios-pequeños{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
}
.servicios-pequeños-img{
    width: 150px;
    height: 100px;
    background: rgb(230, 229, 229);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.servicios-pequeños-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: all linear 0.3s;
}
.servicios-pequeños-img:hover::before{
    transform: scale(0.04);
    transition:all linear 0.3s;
    opacity: 1;
}
.servicios-pequeños-txt{
    width: 100%;
    height: 100%;
}
.servicios-pequeños-txt h4,.servicios-pequeños-txt p {
    margin-left: 10px;
}

.servicios-pequeños-txt a > h4{
    text-decoration: none;
    color: black;
    display: inline-block;
}
.servicios-pequeños-img a{ 
    position: absolute;
    width: 100%;
    height: 100%;
}
.servicios-pequeños-txt h4:hover{
    text-decoration: underline;
}
/*fin de propiedades de servicios*/
@media screen and (max-width:970px){
    .seccion-servicios{
        width: 100%;
        margin-bottom: 10px;
    }
    .seccion-servicios p{
        font-size: 13px;
    }
    .seccion-servicios h4{
        font-size: 15px;
        font-weight: 600;

    }
}
/*fin de media querys de servicios*/

/* propiedades informacion Empresa */
.contenedor-info-medio{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.separador-info-medio{
    height: 100%;
    width: 81%;
    position: relative;
    left: 100%;
    display: flex;
    margin: 2% auto;
    justify-content: space-between;
}
.separador-info-medio h3{
    text-align: center;
    font-weight: 400;
}
.separador-info-medio p{
    font-weight: 100;
}
.info-empresa{
height: 100%;
width: calc(33.3333% - 20px);
position: relative;
text-align: justify;
line-height: 25px;
}
.img-info-empresa{
height: 120px;
width: 40%;
position: relative;
vertical-align: text-bottom;
margin: 0 auto;
}
.img-info-empresa img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
/*fin de las propiedades de informacion empresa */

/*media querys de informacion empresa*/
@media screen and (max-width:1130px){
    .separador-info-medio h3{
        text-align: center;
        font-weight: 400;
        font-size: 15px;
    }
    .separador-info-medio p{
        font-weight: 100;
        font-size: 14px;
    }
}
@media screen and (max-width:970px){ 
    .separador-info-medio{
        display:block;
    }
    .info-empresa{
        height: auto;
        width: calc(100%);
        margin-bottom: 10px;
        }
        .img-info-empresa{
        height: 120px;
        width: 40%;
        margin: 0 auto;
        }
}

/*fin de las media querys de informacion empresa*/

/*propiedades de galeria de proyectos*/
.seccion-galeria{
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    background: whitesmoke;
    overflow: hidden;
}
.centrado-galeria{
    position: relative;
    right: 100%;
    width: 81%;
    height: 100%;
    margin: 0 auto;
}
/* texto sobre la galeria*/
.div-texto{
    position: relative;
    width:100%;
    height: auto;
}
.div-texto h1{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    font-weight: 400;
}
.div-texto p{
    text-align: center;
    font-size: 20px;
}
/*navegacion de la galeria */
.nav-galeria{
    position: relative;
    width: 100%;
    height: 35px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.nav-galeria-btn{
    color:black;
    border-radius: 5px;
    width: calc(25% - 20px);
    height: 100%;
    transition: all linear .5s;
    text-align: center;
    cursor: pointer;
}
.nav-galeria-btn label{
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}
.nav-galeria-btn label::before{
    content: "";
    width: 0;
    height: 2px;
    background: aqua;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transition: all linear 0.5s;
}
.nav-galeria-btn label:hover::before{
    left: 0px;
    width: 100%;
    transition: all linear 0.5s;
}
.nav-galeria-btn label:hover {
    color:blue;
  
}
#gt:checked ~ .nav-galeria #lgt::before,
#gc:checked ~ .nav-galeria #lgc::before,
#gr:checked ~ .nav-galeria #lgr::before,
#gi:checked ~ .nav-galeria #lgi::before{
    content: "";
    width: 100%;
    height: 2px;
    background: aqua;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
#gt, #gc, #gr, #gi{
    display: none;
}
/*contenedores de las galerias */
.todos-proyectos{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    z-index: 10;
}
.todos-proyectos a{
    text-decoration: none;
    color: black;
}

#gt:checked ~ .todos-proyectos #pr-total,
#gc:checked ~ .todos-proyectos #pr-cons,
#gr:checked ~ .todos-proyectos #pr-remo,
#gi:checked ~ .todos-proyectos #pr-inst{
    z-index: 20;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    transition: all 0.8s linear;
    position: relative;
}
.item{
    height: 100%;
    z-index: 50;
}
.item-img{
    height: 50%;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: rgb(230, 229, 229);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: all linear 0.3s;
}

.item:hover .item-img img{
    transform: scale(1.05);
    opacity: 0.4;
    transition: all linear 0.3s;
}
.item:hover .item-img::before{
    transform: scale(0.06);
    transition:all linear 0.3s;
    opacity: 1;
}
.item-img::before{
    content:url("/Imagenes-MAPER/lupa.png");
    position: absolute;
    transform: scale(0);
    transition: all linear 0.3s;
}
.proyectos-total,.proyectos-cons,.proyectos-remo,.proyectos-inst{
    width: 100%;
    height:auto;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0px;
    transform: scale(0);
    transition: all 0.8s linear;
    margin-bottom: 20px;
}

.navegacion-btn-Pr{
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 45%;
    visibility: hidden;
}   
.btns-Pr{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns-Pr span{
    font-size: 20px;
    width: 20px;
    height: 20px;
}
.NextBtn-Pr{
   position: absolute;
  right: 0px;
   height: 100%;
   width: 4%;
    background: rgba(158, 150, 150, .80);
    z-index: 100;
    cursor: pointer;
    visibility: visible;
}
.PrevBtn-Pr{
    position: absolute;
    left: 0px;
    top: 0px;
   height: 100%;
   width: 4%;
   background: rgba(158, 150, 150, .80);
   z-index: 100;
   cursor: pointer;
   visibility: visible;
}
.NextBtn-Pr:hover, .PrevBtn-Pr:hover{
    background: rgba(238, 229, 229, 0.8);
}
.item-info{
    height: 50%;
    width: 100%;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}
.item-info h4{
    padding-top: 10px;
    padding-bottom: 10px;
}
/*fin de propiedades de galeria de proyectos*/

/*media querys de galeria proyectos*/
@media screen and (max-width:970px){
    /*texto titulo*/
    .div-texto{
        width:100%;
        height: auto;
    }
    .div-texto h1{
        text-align: center;
        font-size: 35px;
        margin-top: 20px;
        font-weight: 400;
    }
    .div-texto p{
        text-align: center;
        font-size: 15px;
    }
    /*labels botones*/
    .nav-galeria{
        border-bottom: none;
      }
      .nav-galeria-btn{
          background:rgba(158, 150, 150, .50);
          transition: all linear 0.6s;
      }
      .nav-galeria-btn label{
          border-radius: 5px;
      }
#gt:checked ~ .nav-galeria #lgt,
#gc:checked ~ .nav-galeria #lgc,
#gr:checked ~ .nav-galeria #lgr,
#gi:checked ~ .nav-galeria #lgi{
    color:white;
}
.NextBtn-Pr, .PrevBtn-Pr{
    width: 5%;
}
}
@media screen and (max-width:790px){
.div-texto h1{
    font-size: 30px;
}

}
@media screen and (max-width:690px){
    /*texto titulo*/
    .div-texto h1{
        font-size: 25px;

    }
    .div-texto p{
        text-align: center;
        font-size: 13px;
    }
    /*labels botones*/
    .nav-galeria{
        display: block;
        height: auto;
      }
      .nav-galeria-btn{
          width: 100%;
          height: 30px;
          margin-bottom: 10px;
      }
      .NextBtn-Pr, .PrevBtn-Pr{
        width: 10%;
        height: 70%;
    }
    .navegacion-btn-Pr{
        bottom: 35%;
    }
}
/*fin de media querys de galeria proyectos*/

/*propiedades de pie de pagina*/
.pie-pagina{
    position: relative;
    width: 100%;
    height: auto;
    background: white;
}
.div-pie-pagina{
    position: relative;
    width: 81%;
    height: auto;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.divicion-column{
    position: relative;
    width: calc(33.33% - 10px);
    height: 100%;
    display: block;
}
.acerca-de{
    width: 100%;
    width: auto;
    position: relative;
    border-bottom: 2px solid red;
    height: calc(20% - 10px );
    margin-top: 20px;
}
.div-footer{
width: 100%;
height: calc(80% - 10px);
position: relative;
display: block;
text-align: justify;
margin-top: 20px;
}

.imagen-empresa{
    width: 50%;
    height: 100px;
   border-radius: 5px;
   }
   .imagen-empresa img{
       width: 100%;
       height: 100%;
       object-fit: fill;
   }

.cont-contacto-pdp{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    text-align: right;  
}
.cont-contacto-pdp span{
    color:black;
    font-size: 15px;
    
}
.cont-contacto-pdp i{ 
    text-align: justify;
    color: black;
    font-size: 15px;
    margin-left: 10px;
}
.icono-social{
text-decoration: none;
width: 45px;
height: 45px;
display: flex;
align-items: center;
justify-content: left;
}
.icono-social span{
    font-size: 35px;
    width: 35px;
    height: 35px;
align-items: center;
justify-content: center;
transition: all 2s;
}
/*medias querys de pie de pagina*/
@media screen and (max-width:1250px){
    .cont-contacto-pdp i{
        text-align: justify;
        color: black;
        font-size: 13px;
    }
    .div-footer p{
        font-size: 15px;
    }
}
@media screen and (max-width:1130px){
    .icono-social{
        width: 45px;
        height: 45px;
        }
        .icono-social span{
            font-size: 30px;
            width: 30px;
            height: 30px;
        }
}
@media screen and (max-width:970px){
    .div-pie-pagina{
        justify-content: space-evenly;
    }
    .divicion-column{
        width: calc(50% - 30px);
        transition: all linear .5s;
    }
    .acerca-de{
        height: calc(20% - 10px);
        transition: all linear .5s;
    }
}
@media screen and (max-width:710px){
    .divicion-column{
        width: calc(100%);
    }
  
}