
:root{
    --fondo-claro:white;
    --fondo-oscuro:whitesmoke;
    --espacio-pantalla:82%;
    --maximo-espacio-pantalla:1100px;
    --color-texto:#6d6c6c;
    --triangulos-indicador-color:#6d6c6c;
    --fuente-texto:'Roboto', sans-serif;
    --ancho-letra-parrafo:400;
    --interlineado-parrafo:30px;
    --color-btns-cabecera:#ebaa12;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
margin: 0px;
padding: 0px;
}

body{
 overflow-y: scroll;
 overflow-x: hidden;
 font-family: var(--fuente-texto);
 box-sizing: border-box;
}
/*propiedades precarga*/
#contenedor-precarga{
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 500;
    display: block;
}
#precarga{
    margin: 10% auto;
    width: 50%;
    height: 60%;
    display: block;
}
.contenido-precarga{
    margin: auto;
    width: 100%;
    height: 33.33%;
    margin-bottom: 20px;
}
.contenido-precarga img{
    width: 25%;
    height: 100%;
    object-fit: fill;
    margin-left: 40%;
}
@media screen and (max-width:450px){
    .contenido-precarga img{
        width: 70%;
    }
    #precarga{
        width: calc(50%);
        margin: 10% 15%;
    }
}
/*fin de propiedades*/

/*Propiedades de franga superior de contacto*/
.contacto{
    width: 100%;
    height: 10vh;
    max-height: 100px;
    position:relative;
    display:flex;
    font-weight: 500;
    background: var(--fondo-oscuro);
    overflow: hidden;
        }
    .figura-esquinas-izq,.figura-esquinas-der{
        width: 9%;
        height: 10vh;
        max-height: 100px;
        background:white;
        position: relative;
    }
    .figura-esquinas-izq::before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        right: 0;
        border-top: 10vh solid whitesmoke;
        border-left: 10vh solid transparent;
    }
    .figura-esquinas-der::before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        border-top:10vh solid whitesmoke;
        border-right:10vh solid transparent;
    }

    /*Fin de las propiedades*/

    
    /*Propiedades de contacto superior*/
    .centrado-contacto{
    width: var(--espacio-pantalla);
    max-width: var(--maximo-espacio-pantalla);
    height: 10vh;
    max-height: 100px;
    position: relative;
    margin: 0px auto;
    }
        .Contenedor-contacto{
        position: relative;
        height: 100%;
        width: 80%;
        margin:0px auto;
        display: flex;
        justify-content: space-between;
        }
/*Fin de propiedades*/

 /* propiedades de los iconos*/
.cont-info-contacto{
    width: calc(33.333 - 10px);
   height: 100%;
   text-align: justify;
   display: inline-flex;
   align-items: center;
}
.info-contacto {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.info-contacto a{
    color: black;
    text-decoration: none;
}
.info-contacto a i:hover{
    text-decoration: underline;
}

.Contenedor-contacto span{
   color:black;
   font-size: 15px;
   
}
.Contenedor-contacto i{
   color: black;
   font-size: 13px;

}
.iconos-social{
text-decoration: none;
width: 45px;
height: 45px;
display: flex;
align-items: center;
justify-content: left;
}
.iconos-social span{
   font-size: 25px;
   width: 35px;
   height: 35px;
   display: flex;
align-items: center;
justify-content: center;
transition: all 2s;
}
/* fin de las  propiedades de los iconos */

/*media querys de contacto*/

@media screen and (min-width:1700px){
    .info-contacto i{
        font-size: 15px;
     }
     .iconos-social span{
        font-size: 30px;
     }
    }
    /* fin de media querys*/
    
/*propiedades cabecera*/
#Cabecera{
    width: 100%; 
    height: 20vh;
    max-height: 150px;
    position: relative;
            }
    .centrado-nav-logo{
        width: var(--espacio-pantalla);
        max-width: var(--maximo-espacio-pantalla);
        height: 100%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display:flex;
    }
    #Imagen-logo{
        height: 100%;
        width: 20vw;
        display: flex;
        align-items: center;
        justify-content: center;
        }
        #Imagen-logo img{
            width: 100%;
            height: 95%;
            max-height: 150px;
            min-height: 110px;
            object-fit: fill;
        } 
    /*boton lenguaje*/
    .btn-lenguaje{
        position: absolute;
        width: 12%;
        height: 35px;
        top: 0;
        right: 0px;
        background: var(--color-texto);
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .btn-lenguaje a{
        text-decoration: none;
        color: white;
        display: flex;
        width: 100%;
        height: 100%;
    }
    .btn-lenguaje a img{
        height: 35px;
        width: 40px;
        float: left;
    }
    .btn-lenguaje p{
        padding: 0;
        margin-top: 10px;
        margin-left: 5px;
    }
    .btn-lenguaje:hover{
        height: auto;
        overflow: visible;
    }
    .btn-lenguaje:hover a{
        height: 50%;
    }
    .btn-lenguaje a:nth-child(2){
        border-top: 2px solid white;
    }
    .btn-lenguaje a:nth-child(2):hover{
        background: #a8a8a8;
    }
    /*fin de propiedades*/

    /*media querys de boton lenguaje*/
    @media screen and (max-width:1070px){
        .btn-lenguaje p{
            font-size: 13px;
        }
    }
    @media screen and (max-width:970px){
        .btn-lenguaje{
            display:none;
        }
    }
    /*fin de media querys*/

    /*clases utilizadas para dm que no se ven en pantalla grande*/
    .btn-lenguaje-dm{
        display: none;
    }
    .contactor{
        display:none;
    }
    .div-contacto{
        display:none;
    }
    .btn-menu{
        display:none;
    }
    #mn{
        display:none;
    }
    .navega{
        margin: 0;
        padding: 0px;
        height: 0px;
        overflow: hidden;
    }
    .servicios{
        margin: 0;
        padding: 0px;
        height: 0px;
        overflow: hidden;
    }
    /*fin propiedades*/

/*Propiedades del menu navegador */
.menu{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.menu  ul{
    list-style: none;
    overflow: hidden;
    display: table;
    width: 100%;
}
#at{
    color: black;
}
#at::before{
    content: "";
    position: absolute;
    width: calc(100%);
    height: 2px;
    bottom: -0.5rem;
    background: black;
}
#as::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 45%;
    top: 65%;
    border-top: 8px solid var(--triangulos-indicador-color);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.menu a{
    text-decoration: none;
    position: relative;
    color: var(--color-texto);
    font-weight: 600;
    display: block;
    padding:65px 1rem;
    font-size: 16px;
}
.menu a p{
    position: relative;
    margin: 0;
    padding: 0;
}
.menu  > ul > li{
    float: left;
}
.menu a:hover{
    color: black;   
    transition: all 0.8s;
}
.ir-abajo{
    cursor: pointer;
}
/* Menu de segundo nivel */
.menu2 a{
    padding:20px 10px;
    color: white;
}
.menu li ul{
    position: absolute;
}
.menu  li:hover li{
   max-height: 500px;
   height: 50px;
   border: 1px solid  var(--fondo-oscuro);
   background: var(--color-texto);
   overflow: visible; 
  
}
.menu li li{ 
    max-height: 0;
    height: 0;
    overflow: hidden;
    transition: all .7s;
}
.menu2{
    top: 100%;
    z-index: 200;
    visibility: hidden;
}
.menu li:hover .menu2{
    visibility: visible;
}
.menu ul ul :hover{
    background: var(--fondo-oscuro);
}
.menu  li>ul>li>{ 
    max-height: 0;
    height: 0;
    overflow: hidden;
    transition: all .7s;
}
/*fin de propidades*/

/*media querys de menu navegacion de cabecera */
@media screen and (max-width:2000px){

    .menu li ul{
        width: 15vw;
    }
    .menu li li{
        width: 15vw;
    }
        }
    
    @media screen and (max-width:1370px){
        .menu li ul{
        width: 22vw;
        }
        .menu li li{
        width: 22vw;
        }
        .menu  a{
            padding:3.45rem 0.8rem;
        }
        .menu2 a{
            padding:20px 10px;
            color: white;
        }
    }
@media screen and (max-width:1270px){
    .menu  a{
        padding:3.45rem 0.8rem;
    }
    .menu2 a{
        padding:20px 10px;
        color: white;
    }
}
@media screen and (max-width:1150px){
    .menu a{
        font-size: 15px;
        padding:3.45rem 0.5rem;
    }
    .menu2 a{
        padding:20px 10px;
        color: white;
    }
    #as::before{
        top: 65%;
    }
   
}
@media screen and (max-width:1070px){
    .menu a{
        font-size: 13px;
        padding:3.45rem 0.6rem;
    }

    .menu2 a{
        padding:20px 10px;
        color: white;
    }

    .info-contacto i{
        font-size: 11px;
     }
}
@media screen and (max-width:1020px){
    .menu2 a{
        padding:20px 10px;
        color: white;
    }
}
/* fin de las media querys del menu navegador */
/*fin propiedades de la cabecera */

/*media querys de la cabecera*/
@media screen and (max-width:970px){
    
    /*cabecera*/
    #Cabecera{
        height: auto;
        max-height: 1000px;
        width: 100%; 
     }
     .Contenedor-contacto{
         display:none;
     }
     /*boton lenguaje para dispositivos pequeños*/
     .btn-lenguaje-dm{
        width: 140px;
        height: 50%;
        background: var(--color-texto);
        position: absolute;  
        right: 0;     
        display:block;
        z-index: 100;
        cursor: pointer; 
        
    }
    .btn-lenguaje-dm ul{
       list-style: none;
       width: 100%;
       height: 100%;
       background: var(--color-texto); 
       display: none;
       margin-top: 2px;
    }
    .btn-lenguaje-dm li{
        display: inline;
    }
    .btn-lenguaje-dm a{
       text-decoration: none;
       display: flex;
       width: 100%;
       height: 100%;
   }
   .btn-lenguaje-dm a img{
       height: 100%;
       width: 40%;
       float: left;
   }
   .btn-lenguaje-dm  p{
       margin-top: 8px;
       padding: 0;
       font-size: 17px;
       font-weight: 500;
       margin-left: auto;
       margin-right: auto;
       color: white;
   }

   /*fin de propiedades*/

     .menu{
         display: none;
     }
     #Imagen-logo{
        width: 40%;
        height: 130px;
        }
        #Imagen-logo a{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #Imagen-logo img{
            width: 90%;
            height: 90%;
            object-fit: fill;
        }
        .btn-menu{
            width: 120px;
            height: 60px;
            position: absolute;
            display: flex;
            right: 0;
            margin-top:10px;
            background: var(--color-texto);
            align-items: center;
            padding: 10px;
            z-index: 10;
            cursor: pointer;
            transition: all linear .5s;
            font-size: 20px;
            color: white;
        }
        #mn{
            display:none;
        }
        /*menu de navegacion */
        .navega{
            width: var(--espacio-pantalla);
            max-width: var(--maximo-espacio-pantalla);
            font-size: small;
            text-align: justify;
            color:black;
            overflow: hidden;
            margin:0 auto ;
            padding: 0px;
            height: 0px;
            transition: all linear 0.6s;
        }

        #mn:checked ~ #mna{
            height: 510px;
            overflow: visible;
            transition: all linear 0.6s;
        }
       
        .navega  li{
            line-height: 50px;
            background: rgb(177, 169, 169, 0.1);
            position: relative;
        }
        .navega  ul{
            list-style: none;
            padding: 0px;
       
        }
        .navega a{
            text-decoration: none;
            color: black;
            font-weight: 800;
            display: block;
            padding: 0 20px;
        }
        #ini{
           text-decoration: double underline;
           font-size: 15px;
        }
        
        .navega li ul a{
            color: var(--color-texto);
            padding-left: 40px;
            font-weight: 400;
            font-size: 14px;
        }
        .navega li ul a:hover{
            color:black;
        }
        
       
        /*informacion de contacto*/
        .contactor{
            width: var(--espacio-pantalla);
            max-width: var(--maximo-espacio-pantalla);
            height: auto;
            position: relative;
            margin: 5px auto;
            display:block;
            background: var(--fondo-claro);
        }
        .div-contacto{
            width: 100%;
           height: calc(33.3333%);
           text-align: justify;
           display: flex;
           align-items: center;
           border-bottom: 1px solid rgba(158, 150, 150, .50);
       }
       .div-cont-contacto-pdps{
        width: 80%;
        height: 100%;
        text-align: justify;
        display: block;
        padding: 15px 0;
       }
       .div-cont-contacto-pdps a {
           display: inline-block;
           margin-bottom: 5px;
       }
       .div-cont-contacto-pdps h4{
           color: var(--color-texto);
           font-weight: 500;
           font-size: 15px;
       }
       .iconos-contacto{
        text-decoration: none;
        width: 60px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        }
        .btn {
            font-size: 30px;
            width: 40px;
            height: 40px;
            display: flex;
        align-items: center;
        justify-content: center;
        transition: all 2s;
        }
        .iconos-contacto span{
            font-size: 40px;
            width: 50px;
            height: 50px;
            display: flex;
        align-items: center;
        justify-content: center;
        transition: all 2s;
        }
}
@media screen and (max-width:650px){
    #Imagen-logo{
        width: 50%;
    }
}
@media screen and (max-width:570px){
    .div-cont-contacto-pdps i{
        font-size: 14px;
    }
    .iconos-contacto span{
        font-size: 25px;
        width: 30px;
        height: 30px;

    }
.btn-menu{
    width: 90px;
    height: 50px;
    transition: all linear .5s;
}
.btn-lenguaje-dm{
    width: 110px;
    text-align: center;
}
.btn-lenguaje-dm  p{
    font-size: 16px;
    margin-top: 10px;
    }
}
@media screen and (max-width:390px){
    .div-cont-contacto-pdps i{
        font-size: 12px;
    }
   
}
@media screen and (max-height:450px){
    .btn-lenguaje-dm  p{
        font-size: 13px;
        margin-top: 0;
    }
}
/*fin de media querys cabecera*/

/* propiedades del icono de whatsapp */
.w-contenedor{
    position: fixed;
    height: 70px;
    width: 80px;
    right: 0px;
    bottom: 10px;
    display: flex;
    z-index: 300;
    justify-content: right;
    transition: all linear 0.6s;
    justify-content: center;
    align-items: center
}
.w-contenedor a#ref{
   visibility: hidden;
}
.w-contenedor:hover{
width: 25%;
transition: all linear 0.6s;
}
.w-contenedor:hover .w-texto{
    width:73%;
    transition: all linear 0.6s;
    visibility: visible;
}
.w-contenedor:hover a#ref{
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: visible;
}
.w-texto{
    height: 60%;
    width: 0px;
    display: flex;
    overflow:hidden;
    background: var(--fondo-oscuro);
    transition: all linear 0.6s;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.w-texto p{
    font-size:15px;
    font-weight: 700;
}

.icono-w{
width: 60px;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
color: white;
border-radius: 50%;
background: #0fbe43;
}
.icono-w span{
   font-size: 50px;
   width: 50px;
   height: 50px;
   display: flex;
align-items: center;
justify-content: center;
transition: all 2s;
}
/*fin de las propiedades */

/*Media querys de boton whatsapp*/
@media screen and (min-width:1500px){
    .w-contenedor:hover{
        width: 20%;
        }
}
@media screen and (max-width:1260px){
    .w-texto p{
    text-align: center;
    }
}
@media screen and (max-width:1070px){
    .w-contenedor{
        height: 60px;
    }
    .w-texto p{
        font-size:12px;
    }
    .icono-w{
    width: 50px;
    height: 50px;
    }
    .icono-w span{
       font-size: 40px;
       width: 45px;
       height: 45px;
}
}
@media screen and (max-width:970px){
    .w-contenedor:hover .w-texto{
        display:none;
    }
    .w-contenedor{
        width: 70px;
    }
    .w-contenedor:hover{
        width: 70px;
    }
}
@media screen and (max-width:570px){
    .w-contenedor{
        height: 60px;
        width: 60px;
        margin-right: 5px;
    }
    .w-contenedor:hover{
        width: 60px;
    }
}
/*fin de las media querys*/

/*lineado sobre texto de correo*/
.cont-info-contacto a{
    text-decoration: none;
}
.cont-info-contacto a > i:hover{
    text-decoration: underline;

}
.cont-contacto-pdp a{
    text-decoration: none;
}
.cont-contacto-pdp a > i:hover{
    text-decoration: underline;

}
.div-cont-contacto-pdps a{
    text-decoration: none;
    color: black;
}
.div-cont-contacto-pdps a > i:hover{
    text-decoration: underline;
}
.texto-pie-pagina{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.texto-pie-pagina p{
    padding: 0px;
    margin:0px;
}

/*propiedades de boton ir arriba*/
.ir-arriba{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 80px;
    right: 15px;
    z-index: 150;
    display: none;
    cursor: pointer;
}
.ir-arriba a{
    text-decoration: none;
}
.icono-ir-arriba:hover{
    background: #807d7d;
    transition: all linear 0.3s;
}
.icono-ir-arriba{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
    transition: all linear 0.3s;
    
    }
    .icono-ir-arriba span{
       font-size: 40px;
       width: 40px;
       height: 40px;
       display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s;
    }
    /*fin de propiedades*/

    /*Media querys de boton ir arriba*/
    @media screen and (max-width:1070px){
        .ir-arriba{
            bottom: 70px;
            right: 2%;
            width: 40px;
            height: 40px;
        }
        .icono-ir-arriba{
        width: 40px;
        height: 40px;
        }
        .icono-ir-arriba span{
           font-size: 35px;
           width: 35px;
           height: 35px;
    }
    }
    @media screen and (max-width:970px){
        .ir-arriba{
            right: 15px;
        }
           
    }
    /*fin de media querys*/

/* propiedades del slider */
.Contenedor-slider{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all linear .5s;
    display: block;
    } 
    .slider-item{
        position: relative;
        height: 70vh;
        max-height: 600px;
        width: 100%;
        z-index: 0;
        transition: all linear .5s;
    }
    .slider-item2{
        background-image: url("/Imagenes-proyectos-MAPER/Casa-Lago-Tanganica-175/IMG-28.jpg");
        background-size: 100% 100%;
        object-fit: fill;
        border-radius: 10px;
        width: 100%;
        height:100%;
        transition: all linear .5s;
    }
    .slider-item1{
        background-image: url("/Imagenes-MAPER/Navidad.jpg");
        background-size: 100% 100%;
        object-fit: fill;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        transition: all linear .5s;
    }
    .navegacion-btn{
        width:100%;
        height: 10vh;
        max-height: 60px;
        position: absolute;
        z-index: 100;
        bottom: 0;
    }   
    .centrado-btns{
        width: var(--espacio-pantalla);
        max-width: var(--maximo-espacio-pantalla);
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
    }
    .btns{
        text-decoration: none;
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btns span{
        font-size: 30px;
        width: 30px;
        height: 30px;
    }
    .NextBtn{
    height: 100%;
    width: 10%;
    margin-left: 10px;
    background: rgba(158, 150, 150, .80);
    z-index: 100;
    cursor: pointer;
    }
    .PrevBtn{
       height: 100%;
       width: 10%;
       background: rgba(158, 150, 150, .80);
       z-index: 100;
       cursor: pointer;
    }
    .NextBtn:hover, .PrevBtn:hover{
        background: rgba(238, 229, 229, 0.8);
    }
.elementos-on-carousel{
    width: var(--espacio-pantalla);
    max-width: var(--maximo-espacio-pantalla);
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.texto-fondo{
    position: absolute;
    background: rgba(160, 159, 159, 0.5);
    height: 100%;
    width: 60%;
    text-align: justify;
    transition: all linear .5s;
    display: flex;
    flex-direction: column;
    justify-content: center
}
.texto-fondo a{
    text-decoration: none;
    color: black;
}
.texto-fondo a:hover{
    text-decoration: underline;
}
.texto-fondo h1{
    font-size: 45px;
    font-weight: 800;
    transition: all linear .5s;
}
.texto-fondo p{
    font-weight: var(--ancho-letra-parrafo);
    line-height: var(--interlineado-parrafo);
    margin-top: 10px;
    transition: all linear .5s;
}

/* fin de las  propiedades del slider */    
/*medias querys del slider*/
@media screen and (max-width:970px){
        .slider-item{
            height: 350px;
        }
        .texto-fondo h1{
            font-size: 35px;
            font-weight: 800;
        }
        .texto-fondo p{
            font-size: 15px;
        }
}
@media screen and (max-width:720px){
    .slider-item{
        height: 500px;
    }
    .slider-item2{
        height: 300px;
        background-size: 100% 300px;
    }
    .slider-item1{
        background-size: 100% 300px;
        height: 300px;
    }
    .centrado-btns{
        width: 100%;
    }
    .NextBtn{
    position: absolute;
    right: 0;
        }
    .PrevBtn{
    position: absolute;
    left: 0;

        }
    .elementos-on-carousel{
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
    .texto-fondo{
        height: 200px;
        width: 100%;
        bottom: 0px;
    }
    .navegacion-btn{
        width: 100%;
        height: 10%;
        bottom: 70%;
        left: 0;
    }
    @media screen and (max-width:400px){
        .texto-fondo h1{
            font-size: 30px;
            font-weight: 800;
        }
        .texto-fondo p{
            font-size: 14px;
        }
    }
    #Imagen-logo{
        width: 50%;
    }
}
/*fin de media querys*/

/* propiedades de Seccion de servicios */
.contenido-seccion-servicios{
    background:var(--fondo-oscuro);
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.separador-seccion-servicios{
    position: relative;
    right:100%;
    height: 100%;
    width: var(--espacio-pantalla);
    max-width: var(--maximo-espacio-pantalla);
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.seccion-servicios{
    position: relative;
    width: calc(33.333% - 20px);
    height: 100%;
    margin:20px 0px;
    line-height: 25px;
    font-weight: 100;
}
.seccion-servicios-img{
    width: 100%;
    height: 45vh;
    max-height: 350px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgb(230, 229, 229);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seccion-servicios-img a{
    width: 100%;
    height: 100%;
}
.seccion-servicios-img img{
    width:100%;
    height: 100%;
    object-fit: fill;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all linear 0.3s;
}
.seccion-servicios-img img:hover,.servicios-pequeños-img img:hover{
    transform: scale(1.05);
    opacity: 0.4;
    transition: all linear 0.3s;
}
.seccion-servicios-img:hover::before{
    transform: scale(0.10);
    transition:all linear 0.3s;
    opacity: 1;
}
.seccion-servicios-img::before,.servicios-pequeños-img::before{
    content:url("/Imagenes-MAPER/lupa.png");
    position: absolute;
    transform: scale(0);
    transition: all linear 0.3s;
}
.seccion-servicios-txt{
    width: 100%;
    height: auto;
}
.seccion-servicios-txt p{
    margin-top:10px;
    padding: 0;
    color: var(--color-texto);
    font-weight: var(--ancho-letra-parrafo);
    line-height: var(--interlineado-parrafo);
    
}
.seccion-servicios-txt a{
    display: inline-block;
    text-decoration: none;
    color: black;
}
.seccion-servicios-txt h5{
    color: blue;
    position: relative;
    margin-top:10px;
    font-size: 15px;
}
.seccion-servicios-txt h5::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 100%;
    bottom: 6px;
    margin-left: 10px;
    border-top: 6px solid transparent ;
    border-left: 6px solid blue;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
}
.seccion-servicios-txt h4:hover,.seccion-servicios-txt h5:hover{
    text-decoration: underline;
}

.servicios-pequeños{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
}
.servicios-pequeños-img{
    width: 15vw;
    max-width: 110px;
    height:15vh ;
    max-height: 110px;
    background: rgb(230, 229, 229);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.servicios-pequeños-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: all linear 0.3s;
}
.servicios-pequeños-img:hover::before{
    transform: scale(0.04);
    transition:all linear 0.3s;
    opacity: 1;
}
.servicios-pequeños-txt{
    width: 100%;
    height: 100%;
}
.servicios-pequeños-txt p{
    color: var(--color-texto);
    font-weight: var(--ancho-letra-parrafo);
    line-height: var(--interlineado-parrafo);
}
.servicios-pequeños-txt h4,.servicios-pequeños-txt p {
    margin-left: 10px;
}

.servicios-pequeños-txt a > h4{
    text-decoration: none;
    color: black;
    display: inline-block;
}
.servicios-pequeños-img a{ 
    position: absolute;
    width: 100%;
    height: 100%;
}
.servicios-pequeños-txt h4:hover{
    text-decoration: underline;
}
/*fin de propiedades de servicios*/
@media screen and (max-width:970px){
    .seccion-servicios{
        width: 100%;
        margin-bottom: 10px;
    }
    .seccion-servicios p{
        font-size: 16px;
    }
    .seccion-servicios h4{
        font-size: 15px;
        font-weight: 600;
    }
    .servicios-pequeños-img{
        width: 100px;
        height: 100px;
    }
}
/*fin de media querys de servicios*/


/*propiedades de galeria de proyectos*/
.seccion-galeria{
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    background: var(--fondo-oscuro);
    overflow: hidden;
}
.centrado-galeria{
    position: relative;
    width: var(--espacio-pantalla);
    max-width: var(--maximo-espacio-pantalla);
    height: 100%;
    margin: 0 auto;
    transform: scale(0)
}
/* texto sobre la galeria*/
.div-texto{
    position: relative;
    width:100%;
    height: auto;
}
.div-texto h1{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    font-weight: 400;
}
.div-texto p{
    text-align: center;
    font-size: 20px;
}
/*navegacion de la galeria */
.nav-galeria{
    position: relative;
    width: 100%;
    height: 35px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.nav-galeria-btn{
    color:black;
    border-radius: 5px;
    width: calc(25% - 20px);
    height: 100%;
    transition: all linear .5s;
    text-align: center;
    cursor: pointer;
}
.nav-galeria-btn label{
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}
.nav-galeria-btn label::before{
    content: "";
    width: 0;
    height: 2px;
    background: aqua;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transition: all linear 0.5s;
}
.nav-galeria-btn label:hover::before{
    left: 0px;
    width: 100%;
    transition: all linear 0.5s;
}
.nav-galeria-btn label:hover {
    color:blue;
  
}
#gt:checked ~ .nav-galeria #lgt::before,
#gc:checked ~ .nav-galeria #lgc::before,
#gr:checked ~ .nav-galeria #lgr::before,
#gi:checked ~ .nav-galeria #lgi::before{
    content: "";
    width: 100%;
    height: 2px;
    background: aqua;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
#gt, #gc, #gr, #gi{
    display: none;
}
/*contenedores de las galerias */
.todos-proyectos{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    z-index: 10;
}
.todos-proyectos a{
    text-decoration: none;
    color: black;
}

#gt:checked ~ .todos-proyectos #pr-total,
#gc:checked ~ .todos-proyectos #pr-cons,
#gr:checked ~ .todos-proyectos #pr-remo,
#gi:checked ~ .todos-proyectos #pr-inst{
    z-index: 20;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    transition: all 0.8s linear;
    position: relative;
}
.item{
    height: 100%;
    z-index: 50;
}
.item-img{
    height: 45vh;
    max-height: 200px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: rgb(230, 229, 229);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: all linear 0.3s;
}

.item:hover .item-img img{
    transform: scale(1.05);
    opacity: 0.4;
    transition: all linear 0.3s;
}
.item:hover .item-img::before{
    transform: scale(0.06);
    transition:all linear 0.3s;
    opacity: 1;
}
.item-img::before{
    content:url("/Imagenes-MAPER/lupa.png");
    position: absolute;
    transform: scale(0);
    transition: all linear 0.3s;
}
.proyectos-total,.proyectos-cons,.proyectos-remo,.proyectos-inst{
    width: 100%;
    height:auto;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0px;
    transform: scale(0);
    transition: all 0.8s linear;
    margin-bottom: 20px;
}

.navegacion-btn-Pr{
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 45%;
    visibility: hidden;
}   
.btns-Pr{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns-Pr span{
    font-size: 20px;
    width: 20px;
    height: 20px;
}
.NextBtn-Pr{
   position: absolute;
  right: 0px;
   height: 100%;
   width: 4%;
    background: rgba(158, 150, 150, .80);
    z-index: 100;
    cursor: pointer;
    visibility: visible;
}
.PrevBtn-Pr{
    position: absolute;
    left: 0px;
    top: 0px;
   height: 100%;
   width: 4%;
   background: rgba(158, 150, 150, .80);
   z-index: 100;
   cursor: pointer;
   visibility: visible;
}
.NextBtn-Pr:hover, .PrevBtn-Pr:hover{
    background: rgba(238, 229, 229, 0.8);
}
.item-info{
    height: 50%;
    width: 100%;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}
.item-info h4{
    padding-top: 10px;
    padding-bottom: 10px;
}
/*fin de propiedades de galeria de proyectos*/

/*media querys de galeria proyectos*/
@media screen and (min-width:1500px){
    .div-texto h1{
        font-size: 50px;
    }
    .div-texto p{
        font-size: 25px;
    }
}
@media screen and (max-width:970px){
    /*texto titulo*/
    .div-texto{
        width:100%;
        height: auto;
    }
    .div-texto h1{
        text-align: center;
        font-size: 35px;
        margin-top: 20px;
        font-weight: 400;
    }
    .div-texto p{
        text-align: center;
        font-size: 15px;
    }
    /*labels botones*/
    .nav-galeria{
        border-bottom: none;
      }
      .nav-galeria-btn{
          background:rgba(158, 150, 150, .50);
          transition: all linear 0.6s;
      }
      .nav-galeria-btn label{
          border-radius: 5px;
      }
#gt:checked ~ .nav-galeria #lgt,
#gc:checked ~ .nav-galeria #lgc,
#gr:checked ~ .nav-galeria #lgr,
#gi:checked ~ .nav-galeria #lgi{
    color:white;
}
.NextBtn-Pr, .PrevBtn-Pr{
    width: 5%;
}
}
@media screen and (max-width:790px){
.div-texto h1{
    font-size: 30px;
}

}
@media screen and (max-width:690px){
    /*texto titulo*/
    .div-texto h1{
        font-size: 25px;

    }
    .div-texto p{
        text-align: center;
        font-size: 13px;
    }
    /*labels botones*/
    .nav-galeria{
        display: block;
        height: auto;
      }
      .nav-galeria-btn{
          width: 100%;
          height: 30px;
          margin-bottom: 10px;
      }
      .NextBtn-Pr, .PrevBtn-Pr{
        width: 10%;
        height: 70%;
    }
    .navegacion-btn-Pr{
        bottom: 35%;
    }
}
@media screen and (max-width:610px){
.item-img{
    height: 35vh;
}
}
/*fin de media querys de galeria proyectos*/

/*propiedades de pie de pagina*/
.pie-pagina{
    position: relative;
    width: 100%;
    height: auto;
    background: var(--fondo-claro);
}
.div-pie-pagina{
    position: relative;
    width: var(--espacio-pantalla);
    max-width: var(--maximo-espacio-pantalla);
    height: auto;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.divicion-column{
    position: relative;
    width: calc(33.33% - 10px);
    height: 100%;
    display: block;
}
.acerca-de{
    width: 100%;
    width: auto;
    position: relative;
    border-bottom: 2px solid red;
    height: calc(20% - 10px );
    margin-top: 20px;
}
.div-footer{
width: 100%;
height: calc(80% - 10px);
position: relative;
display: block;
text-align: justify;
margin-top: 20px;
}
.div-footer p{
    font-weight: var(--ancho-letra-parrafo);
    line-height: var(--interlineado-parrafo);
}


.imagen-empresa{
    width: 16vw;
    max-width: 285px;
    height: 20vh;
    max-height: 160px;
    }
.imagen-empresa img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.cont-contacto-pdp{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    text-align: right;  
    margin-bottom: 20px;
}
.cont-contacto-pdp span{
    color:black;
    font-size: 15px;
    
}
.cont-contacto-pdp i{ 
    text-align: justify;
    color: black;
    font-size: 17px;
    margin-left: 10px;
}
.icono-social{
text-decoration: none;
width: 45px;
height: 45px;
display: flex;
align-items: center;
justify-content: left;
}
.icono-social span{
    font-size: 35px;
    width: 35px;
    height: 35px;
align-items: center;
justify-content: center;
transition: all 2s;
}
/*medias querys de pie de pagina*/
@media screen and (max-width:1250px){
    .cont-contacto-pdp i{
        text-align: justify;
        color: black;
        font-size: 16px;
    }
    .div-footer p{
        font-size: 15px;
    }
}
@media screen and (max-width:1130px){
    .icono-social{
        width: 45px;
        height: 45px;
        }
        .icono-social span{
            font-size: 30px;
            width: 30px;
            height: 30px;
        }
}
@media screen and (max-width:970px){
    .div-pie-pagina{
        justify-content: space-evenly;
    }
    .divicion-column{
        width: calc(50% - 30px);
        transition: all linear .5s;
    }
    .acerca-de{
        height: calc(20% - 10px);
        transition: all linear .5s;
    }
    .imagen-empresa{
        width: 25vw;
        }
}
@media screen and (max-width:710px){
    .divicion-column{
        width: calc(100%);
    }
    .imagen-empresa{
        width: 50vw;
        }
}

/*Propiedades de franja inferior*/
.derechos{
    width:100%;
    height: 10vh;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.figura-pdp-izq,.figura-pdp-der{
    width: 9%;
    height: 10vh;
    max-height: 100px;
    background: var(--fondo-claro);
    position: relative;
}
.figura-pdp-der::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    border-top: 10vh solid transparent;   
    border-left: 10vh solid var(--fondo-oscuro);     
}
.figura-pdp-izq::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right:0;
    border-top: 10vh solid transparent;   
    border-right: 10vh solid var(--fondo-oscuro);     
}
/*Fin de propiedades*/

/*Media querys de franja inferior*/
@media screen and (max-width:970px){
.derechos h2{
font-size: 20px;
}
.derechos h3{
font-size: 15px;
}
}

