
:root{
    --fondo-claro:white;
    --fondo-oscuro:whitesmoke;
    --espacio-pantalla:82%;
    --maximo-espacio-pantalla:1100px;
    --color-texto:#6d6c6c;
    --triangulos-indicador-color:#6d6c6c;
    --fuente-texto:'Roboto', sans-serif;
    --ancho-letra-parrafo:400;
    --interlineado-parrafo:30px;
    --color-btns-cabecera:#ebaa12;
    --color-left-ms:#fdc703;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    }
    
body{
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: var(--fuente-texto);
    box-sizing: border-box;
   }

/*propiedades de parte superior contacto*/
.contacto{
    width: 100%;
    height: 10vh;
    max-height: 100px;
    position:relative;
    display:flex;
    font-weight: 500;
    background:var(--fondo-oscuro);
    overflow: hidden;
        }
.figura-esquinas-izq,.figura-esquinas-der{
    width: 9%;
    height: 10vh;
    max-height: 100px;
    background: var(--fondo-claro);
    position: relative;
        }
.figura-esquinas-izq::before{
content: "";
position: absolute;
width: 0;
height: 0;
right: 0;
border-top: 10vh solid var(--fondo-oscuro);
border-left: 10vh solid transparent;
    }
.figura-esquinas-der::before{
content: "";
position: absolute;
width: 0;
height: 0;
left: 0;
border-top: 10vh solid var(--fondo-oscuro);
border-right: 10vh solid transparent;
    }
.centrado-contacto{
width: var(--espacio-pantalla);
max-width: var(--maximo-espacio-pantalla);
height: 10vh;
max-height: 100px;
position: relative;
margin: 0px auto;
                    }
.Contenedor-contacto{
position: relative;
height: 100%;
max-width: 80%;
margin:0px auto;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
                
 /* propiedades de los iconos*/
.cont-info-contacto{
    width: calc(33.333 - 10px);
   height: 100%;
   text-align: justify;
   display: flex;
   align-items: center;
}
.info-contacto {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.info-contacto a{
    color: black;
    text-decoration: none;
}
.info-contacto a i:hover{
    text-decoration: underline;
}
.info-contacto span{
   color:black;
   font-size: 15px;
   
}
.info-contacto i{
   color: black;
   font-size: 13px;

}
.iconos-social{
text-decoration: none;
width: 45px;
height: 45px;
display: flex;
align-items: center;
justify-content: left;
}
.iconos-social span{
   font-size: 25px;
   width: 35px;
   height: 35px;
   display: flex;
align-items: center;
justify-content: center;
transition: all 2s;
}
/* fin de las  propiedades de los iconos */
/*fin de propiedades de contacto*/

/*propiedades cabecera*/
#Cabecera{
width: 100%; 
height: 20vh;
max-height: 150px;
position: relative;
        }
.centrado-nav-logo{
    width: var(--espacio-pantalla);
    max-width: var(--maximo-espacio-pantalla);
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display:flex;
}
 #Imagen-logo{
    height: 100%;
    width: 20vw;

    }
    #Imagen-logo img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    } 
    /*boton lenguaje*/
    .btn-lenguaje{
        position: absolute;
        width: 12%;
        height: 35px;
        top: 0px;
        right: 0px;
        background: #d8d6d6;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .btn-lenguaje a{
        text-decoration: none;
        color: black;
        display: flex;
        width: 100%;
        height: 100%;
    }
    .btn-lenguaje a img{
        height: 35px;
        width: 40px;
        float: left;
        transition: all linear 0.6s;
    }
    .btn-lenguaje p{
        margin-top: 10px;
        padding: 0;
        margin-left: 5px;
    }
    .btn-lenguaje:hover{
        height: auto;
        overflow: visible;
    }
    .btn-lenguaje:hover a{
        height: 50%;
    }
    .btn-lenguaje a:nth-child(2){
        border-top: 2px solid white;
    }
    .btn-lenguaje a:nth-child(2):hover{
        background: #999999;
    }
    /*fin de propiedades*/

    /*media querys de boton lenguaje*/
    @media screen and (max-width:1140px){
        .btn-lenguaje p{
            font-size: 13px;
        }
    }
    @media screen and (max-width:970px){
        .btn-lenguaje{
            display:none;
        }
    }
    /*fin de media querys*/

    /*clases utilizadas para dm que no se ven en pantalla grande*/
    .btn-lenguaje-dm{
        display: none;
    }
    .contactor{
        display:none;
    }
    .div-contacto{
        display:none;
    }
    .btn-menu{
        display:none;
    }
    #mn{
        display:none;
    }
    .navega{
        margin: 0;
        padding: 0px;
        height: 0px;
        overflow: hidden;
    }
    .servicios{
        margin: 0;
        padding: 0px;
        height: 0px;
        overflow: hidden;
    }
    /*fin de propiedades*/

/*Propiedades del menu navegador */
.menu{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.menu  ul{
    list-style: none;
    overflow: hidden;
    display: table;
    width: 100%;
}
/*underlineado y color de servicios*/
#aser{
    color: black;
}
#aser::before{
    content: "";
    position: absolute;
    width: calc(100%);
    height: 2px;
    bottom: -0.5rem;
    background: #fec800;
}
/*           */

/*underlineado y color de acerca de nosotros*/
#aan{
    color: black;
}
#aan::before{
    content: "";
    position: absolute;
    width: calc(100%);
    height: 2px;
    bottom: -0.5rem;
    background: #80fe00;
}
/*           */

/*underlineado y color de proyectos*/
#apr{
    color: black;
}
#apr::before{
    content: "";
    position: absolute;
    width: calc(100%);
    height: 2px;
    bottom: -0.5rem;
    background: #00fdfe;
}
/*           */

/*triangulo inferior indicador, opcion servicios en menu principal*/
#as::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 45%;
    top: 65%;
    border-top: 8px solid var(--triangulos-indicador-color);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
/*           */

.menu a{
    text-decoration: none;
    position: relative;
    color: var(--color-texto);
    font-weight: 600;
    padding:3.3rem 1rem;
    font-size: 16px;
    display: block;
}
.menu a p{
    position: relative;
    margin: 0;
    padding: 0;
}
.menu  > ul > li{
    float: left;
}
.menu a:hover{
    color: black;   
    transition: all 0.8s;
}
.ir-abajo{
    cursor: pointer;
}
/* Menu de segundo nivel */
.menu2 a{
    padding:20px 10px;
    color: white;
}
.menu li ul{
    position: absolute;
    width: 300px;
}
.menu  li:hover li{
   max-height: 500px;
   height: 50px;
   border: 1px solid  var(--fondo-oscuro);
   background: var(--color-texto);
   overflow: visible; 
  
}
.menu li li{ 
    width: 300px;
    max-height: 0;
    height: 0;
    overflow: hidden;
    transition: all .7s;
}
.menu2{
    top: 100%;
    z-index: 200;
    visibility: hidden;
}
.menu li:hover .menu2{
    visibility: visible;
}
.menu ul ul :hover{
    background: var(--fondo-oscuro);
}
.menu  li>ul>li>{ 
    max-height: 0;
    height: 0;
    overflow: hidden;
    transition: all .7s;
}
/*fin de propiedades*/

/*media querys de menu navegacion de cabecera */
@media screen and (max-width:2000px){
.menu  a{
    padding:6.08rem 1rem;
}
.menu2 a{
    padding:20px 10px;
    color: white;
}
.menu li ul{
    width: 15vw;
}
.menu li li{
    width: 15vw;
}

    }
@media screen and (max-width:1700px){
.menu  a{
    padding:6.08rem 1rem;
}
.menu2 a{
    padding:20px 10px;
    color: white;
}

    }
@media screen and (max-width:1500px){
    .menu  a{
        padding:4.5rem 1rem;
    }
    .menu2 a{
        padding:20px 10px;
        color: white;
    }
}

@media screen and (max-width:1370px){
    .menu li ul{
    width: 22vw;
    }
    .menu li li{
    width: 22vw;
    }
    
}
@media screen and (max-width:1270px){
    .menu  a{
        padding:3.45rem 0.8rem;
    }
    .menu2 a{
        padding:20px 10px;
        color: white;
    }
}
@media screen and (max-width:1185px){
    .menu a{
        font-size: 15px;
        padding:3.45rem 0.5rem;
    }
    .menu2 a{
        padding:20px 10px;
        color: white;
    }
    #as::before{
        top: 65%;
    }
   
}
@media screen and (max-width:1070px){
    .menu a{
        font-size: 13px;
        padding:3.45rem 0.6rem;
    }

    .menu2 a{
        padding:20px 10px;
        color: white;
    }

    .info-contacto i{
        font-size: 11px;
     }
}
@media screen and (max-width:1020px){
    .menu2 a{
        padding:20px 10px;
        color: white;
    }
    .btn-lenguaje{
        width: 12%;
    }
}
/* fin de las media querys del menu navegador */

/*media querys de la cabecera*/
@media screen and (max-width:970px){
    /*cabecera*/
    #Cabecera{
        height: auto;
        max-height: 1000px;
        width: 100%; 
     }
     .Contenedor-contacto{
         display:none;
     }

     /*boton lenguaje para dispositivos pequeños*/
     .btn-lenguaje-dm{
        width: 30%;
        height: 50%;
        background: var(--color-btns-cabecera);
        position: absolute;  
        left: 35%;     
        display:block;
        z-index: 100;
        cursor: pointer; 
        
    }
    .btn-lenguaje-dm ul{
       list-style: none;
       width: 100%;
       height: 100%;
       background: var(--color-btns-cabecera); 
       display: none;
       margin-top: 2px;
    }
    .btn-lenguaje-dm li{
        display: inline;
    }
    .btn-lenguaje-dm a{
       text-decoration: none;
       color: black;
       display: flex;
       width: 100%;
       height: 100%;
   }
   .btn-lenguaje-dm a img{
       height: 100%;
       width: 40%;
       float: left;
   }
   .btn-lenguaje-dm  p{
       margin-top: 8px;
       padding: 0;
       font-size: 17px;
       font-weight: 500;
       margin-left: auto;
       margin-right: auto;
   }

   /*fin de propiedades*/

     .menu{
         display: none;
     }
     #Imagen-logo{
        width: 40%;
        height: 130px;
        margin:10px 0;
        }
        .btn-menu{
            width: 120px;
            height: 110px;
            position: absolute;
            display: flex;
            right: 0;
            margin-top:10px;
            background: var(--color-btns-cabecera);
            align-items: center;
            padding: 10px;
            z-index: 10;
            cursor: pointer;
            transition: all linear .5s;
            font-size: 20px;
        }
        #mn{
            display:none;
        }

        /*menu de navegacion */
        .navega{
            max-width: 1100px;
            width: 81%;
            font-size: small;
            text-align: justify;
            color:black;
            overflow: hidden;
            transition: all linear 0.6s;
            margin:10px auto 0 auto;
            padding: 0px;
            height: 0px;
            
        }
        #mn:checked ~ #mna{
        overflow: visible;
        height: 510px;
        transition: all linear 0.6s;

        }
        .navega  li{
            line-height: 50px;
            background: rgb(177, 169, 169, 0.2);
        }
        .navega  ul{
            list-style: none;
            padding: 0px;
       
        }
        .navega a{
            text-decoration: none;
            color: black;
            font-weight: 800;
            display: block;
            padding: 0 20px;
        }

        /*color de texto opcion servicios*/
        .navega a#ser{
            color: var(--color-btns-cabecera);
        }

        /*color de texto opcion acerca de nosotros*/
        .navega a#acerca{
            color: #7efe00;
        }

        /*color de texto opcion proyectos*/
        .navega a#lineapr{
            color: #00fdfe;
        }

        .navega li ul a{
            color: #525151;
            padding-left: 40px;
            font-weight: var(--ancho-letra-parrafo);
            font-size: 14px;
        }
        .navega li ul a:hover{
            color:black;
        }
        #colort{
            color: black;
            text-decoration: underline;
        }
       
        /*informacion de contacto*/
        .contactor{
            max-width: 1100px;
            width: 81%;
            height: auto;
            position: relative;
            margin: 5px auto;
            display:block;
            background: var(--fondo-claro);
            
        }
        .div-contacto{
            width: 100%;
           height: calc(33.3333%);
           text-align: justify;
           display: flex;
           align-items: center;
           border-bottom: 1px solid rgba(158, 150, 150, .50);
       }
       .div-cont-contacto-pdps{
        width: 80%;
        height: 100%;
        text-align: justify;
        display: block;
        align-items: center;
        padding: 15px 0;
       }
       .div-cont-contacto-pdps a {
        display: inline-block;
        margin-bottom: 5px;
        text-decoration: none;
    }
       .div-cont-contacto-pdps h4{
           color: var(--color-texto);
           font-weight: 500;
           font-size: 15px;
       }
       .iconos-contacto{
        text-decoration: none;
        width: 60px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: left;

        }
        .btn {
            font-size: 30px;
            width: 40px;
            height: 40px;
            display: flex;
        align-items: center;
        justify-content: center;
        transition: all 2s;
        }
        .iconos-contacto span{
            font-size: 40px;
            width: 50px;
            height: 50px;
            display: flex;
        align-items: center;
        justify-content: center;
        transition: all 2s;
        }
}
@media screen and (max-width:570px){
    .div-cont-contacto-pdps i{
        font-size: 13px;
    }
    .iconos-contacto span{
        font-size: 25px;
        width: 30px;
        height: 30px;

    }
    .btn-menu{
        width: 100px;
        height: 75px;
        transition: all linear .5s;
}
#Imagen-logo{
    width: 50%;
}
.btn-lenguaje-dm{
    width: 50%;
    left: 25%;
    text-align: center;
}
.btn-lenguaje-dm  p{
    font-size: 16px;
    margin-top: 10px;
}
}
@media screen and (max-width:390px){
    .div-cont-contacto-pdps i{
        font-size: 12px;
    }

}
@media screen and (max-height:450px){
    .btn-lenguaje-dm  p{
        font-size: 13px;
        margin-top: 0;
    }
}
/*fin de media querys cabecera*/

/* propiedades del icono de whatsapp */
.w-contenedor{
position: fixed;
height: 70px;
width: 80px;
right: 0px;
bottom: 10px;
display: flex;
z-index: 300;
justify-content: right;
transition: all linear 0.6s;
justify-content: center;
align-items: center;

}
.w-contenedor a#ref{
visibility: hidden;
z-index: 200;
}
.w-contenedor:hover{
width: 25%;
transition: all linear 0.6s;
}
.w-contenedor:hover .w-texto{
width:75%;
transition: all linear 0.6s;
visibility: visible;
}
.w-contenedor:hover a#ref{
width: 100%;
height: 100%;
position: absolute;
visibility: visible;
}
.w-texto{
height: 60%;
width: 0px;
overflow:hidden;
display: flex;
background: var(--fondo-oscuro);
transition: all linear 0.6s;
visibility: hidden;
justify-content: center;
align-items: center;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}
.w-texto p{
font-size:15px;
font-weight: 700;
}

.icono-w{
width: 60px;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
color: white;
border-radius: 50%;
background: #0fbe43;
}
.icono-w span{
   font-size: 50px;
   width: 50px;
   height: 50px;
   display: flex;
align-items: center;
justify-content: center;
transition: all 2s;
}
/*fin de las propiedades */

/*Media querys de boton whatsapp*/
@media screen and (min-width:1500px){
    .w-contenedor:hover{
        width: 20%;
        }
}
@media screen and (max-width:1260px){
    .w-texto p{
    text-align: center;
    }
}
@media screen and (max-width:1070px){
    .w-contenedor{
        height: 60px;
    }
    .w-texto p{
        font-size:12px;
    }
    .icono-w{
    width: 50px;
    height: 50px;
    }
    .icono-w span{
       font-size: 40px;
       width: 45px;
       height: 45px;
}
}
@media screen and (max-width:970px){
    .w-contenedor:hover .w-texto{
        display:none;
    }
    .w-contenedor{
        width: 70px;
    }
    .w-contenedor:hover{
        width: 70px;
    }
}
@media screen and (max-width:570px){
    .w-contenedor{
        height: 60px;
        width: 60px;
        margin-right: 5px;
    }
    .w-contenedor:hover{
        width: 60px;
    }
}
/*fin de media querys*/

/*propiedades imagen de fondo y texto */
.img-fondo{
position: relative;
width: 100%;
height: 68vh;
display: flex;
align-items: center;
justify-content: center;
}
.img-fondo img{
width: 100%;
height: 100%;
object-fit: fill;
}
.txt-servicios{
position: absolute;
width: var(--espacio-pantalla);
max-width: var(--maximo-espacio-pantalla);
height: auto;

margin:auto;
}
.txt-servicios h1{
    font-size: 60px;
    font-weight: 500;
}
.txt-servicios h4{
    font-size: 25px;
}
/*fin de las propiedades img fondo y txt servicios */

/*pŕopiedades de info posicion */
.div-posicion{
border-bottom: 1px solid black;
width: 100%;
height: 50px;
position: relative;
}
.div-info-posicion{
width: var(--espacio-pantalla);
max-width: var(--maximo-espacio-pantalla);
height: 100%;
margin: 0px auto;
position: relative;
display: flex;

}

.div-info-posicion a,p{
text-decoration: none;
color: black;
position: relative;
display: inline-block;
padding: 15px 0;
margin-right: 25px;
}
/*fin de propiedades*/

/*propiedades del menu de servicios */
.menu-servicios{
    width: 25%;
    height: 50%;
    position: relative;
    margin-right: 30px;
    
}
.menu-servicios a{
    text-decoration: none;
    color:var(--color-texto);
    font-weight: 900;
    display: block;
    padding: 23px 20px;
}
.menu-servicios ul{
    list-style: none;
    padding: 0px;
}
.menu-servicios li{
    border: 1px solid var(--color-texto);
}
.menu-servicios li:hover{
    background: var(--fondo-oscuro);
    border-left: 2px solid var(--color-left-ms);
    transition: all 0.7s ;
}
.menu-servicios li>a:hover{
    color: black;

}
.menu-servicios #opcionmenu{
    border-left:  3px solid var(--color-left-ms);
    background:var(--fondo-oscuro);
}
.menu-servicios #opcionmenu a{
    color:black;
}
/*fin de propiedades de menu servicios */

/*media querys de menu servicios*/
@media screen and (max-width: 1070px){
    .menu-servicios a{
        padding: 20px;
        font-size: 14px;
    }

}
@media screen and (max-width:970px){
    .menu-servicios{
        width: 100%;
        margin-bottom: 20px;
    }
    .menu-servicios a{
        padding: 10px 20px;
        border-radius: 5px;
    }
    .menu-servicios li{
        border-radius: 5px;
        margin-bottom: 5px;
    }
    .txt-servicios h1{
        font-size: 35px;
    }
    .txt-servicios h4{
        font-size: 20px;
    }
}
/*fin de las medias querys*/

/*propiedades de pie de pagina*/
.pie-pagina{
    position: relative;
    width: 100%;
    height: auto;
    background:var(--fondo-claro);
    
}
.div-pie-pagina{
    position: relative;
    width: var(--espacio-pantalla);
    max-width: var(--maximo-espacio-pantalla);
    height: auto;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.divicion-column{
    position: relative;
    width: calc(33.33% - 10px);
    height: 100%;
    display: block;
}
.divicion-column p{
    line-height: var(--interlineado-parrafo);
}
.acerca-de{
    width: 100%;
    position: relative;
    border-bottom: 2px solid red;
    height: calc(20% - 10px);
    margin-top: 20px;
}
.div-footer{
width: 100%;
height: calc(80% - 10px);
position: relative;
display: block;
text-align: justify;
margin-top: 20px;
}
.imagen-empresa{
     width: 50%;
     height: 20vh;
     max-height: 150px;
    border-radius: 5px;
    }
    .imagen-empresa img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
.cont-contacto-pdp{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}
.cont-contacto-pdp span{
    color:black;
    font-size: 15px;
    
}
.cont-contacto-pdp i{ 
    text-align: justify;
    color: black;
    font-size: 17px;
    margin-left: 10px;
}
.icono-social{
text-decoration: none;
width: 55px;
height: 55px;
display: flex;
align-items: center;
justify-content: left;
}
.icono-social span{
    font-size: 35px;
    width: 35px;
    height: 35px;
align-items: center;
justify-content: center;
transition: all 2s;
}

/*medias querys de pie de pagina*/

@media screen and (max-width:1250px){
    .cont-contacto-pdp i{
        text-align: justify;
        color: black;
        font-size: 15px;
    }
    .div-footer p{
        font-size: 15px;
    }
}
@media screen and (max-width:1130px){
    .icono-social{
        width: 45px;
        height: 45px;
        }
        .icono-social span{
            font-size: 30px;
            width: 30px;
            height: 30px;
        }
}
@media screen and (max-width:970px){
    .div-pie-pagina{
        justify-content: space-evenly;
    }
    .divicion-column{
        width: calc(50% - 30px);
        transition: all linear .5s;
    }
    .acerca-de{
        height: calc(20% - 10px);
        transition: all linear .5s;
    }
}
@media screen and (max-width:710px){
    .divicion-column{
        width: calc(100%);
    }
}
/*fin de las media querys de pie de pagina*/

/*lineado sobre texto de correo*/
.cont-info-contacto a{
    text-decoration: none;
}
.cont-info-contacto a > i:hover{
    text-decoration: underline;

}
.cont-contacto-pdp a{
    text-decoration: none;
}
.cont-contacto-pdp a > i:hover{
    text-decoration: underline;

}
.div-cont-contacto-pdps a{
    text-decoration: none;
    color: black;
}
.div-cont-contacto-pdps a > i:hover{
    text-decoration: underline;
}
.texto-pie-pagina{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.texto-pie-pagina p{
    padding: 0px;
    margin:0px;
}

/*propiedades de boton ir arriba*/
.ir-arriba{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 80px;
    right: 15px;
    z-index: 150;
    display: none;
    cursor: pointer;
}
.ir-arriba a{
    text-decoration: none;
}
.icono-ir-arriba:hover{
    background: #807d7d;
    transition: all linear 0.3s;
}
.icono-ir-arriba{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
    transition: all linear 0.3s;
    
    }
    .icono-ir-arriba span{
       font-size: 40px;
       width: 40px;
       height: 40px;
       display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s;
    }
    @media screen and (max-width:1070px){
        .ir-arriba{
            bottom: 70px;
            right: 2%;
            width: 40px;
            height: 40px;
        }
        .icono-ir-arriba{
        width: 40px;
        height: 40px;
        }
        .icono-ir-arriba span{
           font-size: 35px;
           width: 35px;
           height: 35px;
    }
    }
    @media screen and (max-width:970px){
        .ir-arriba{
            right: 15px;
        }
    }

    /*Propiedades de franja inferior*/
    .derechos{
        width:100%;
        height: 10vh;
        max-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .figura-pdp-izq,.figura-pdp-der{
        width: 9%;
        height: 10vh;
        background: var(--fondo-claro);
        position: relative;
    }
    .figura-pdp-der::before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        border-top: 10vh solid transparent;   
        border-left: 10vh solid var(--fondo-oscuro);     
    }
    .figura-pdp-izq::before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        right:0;
        border-top: 10vh solid transparent;   
        border-right: 10vh solid var(--fondo-oscuro);     
    }
    /*Fin de propiedades*/

/*Media querys de franja inferior*/
@media screen and (max-width:970px){
.derechos h2{
    font-size: 20px;
}
.derechos h3{
    font-size: 15px;
}
}

