:root{
    --fondo-claro:white;
    --fondo-oscuro:whitesmoke;
    --espacio-pantalla:81%;
    --maximo-espacio-pantalla:1100px;
    --color-texto:#6d6c6c;
    --triangulos-indicador-color:#6d6c6c;
    --fuente-texto:'Roboto', sans-serif;
    --ancho-letra-parrafo:400;
    --interlineado-parrafo:30px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    }
    body{
     overflow: scroll;
     overflow-x: hidden;
     font-family: var(--fuente-texto);
     box-sizing: border-box;
    }

/*propiedades precarga*/
#contenedor-precarga{
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 500;
    display: block;
}
#precarga{
    margin: 10% auto;
    width: 50%;
    height: 60%;
    display: block;
}
.contenido-precarga{
    margin: auto;
    width: 100%;
    height: 33.33%;
    margin-bottom: 20px;
}
.contenido-precarga img{
    width: 25%;
    height: 100%;
    object-fit: fill;
    margin-left: 40%;
}
@media screen and (max-width:450px){
    .contenido-precarga img{
        width: 60%;
    }
    #precarga{
        margin: 10% 15%;
    }
}
/*fin de propiedades*/
      
/*pŕopiedades de info posicion */
.div-info-posicion a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 10px;
    left: 100%;
    bottom: 17px;
    border-top:8px solid transparent ;
    border-left:8px solid var(--triangulos-indicador-color);
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
/*fin de las propiedades info posicion */

/*propiedades de servicios */
.div-contenedor{
    margin: 20px auto 0px;
    box-sizing: border-box;
    position: relative;
    width:var(--espacio-pantalla);
    max-width: var(--maximo-espacio-pantalla);
    height: auto;
    display: flex;
}

/*propiedades de contenedor de servicios*/
.div-contenedor-servicios{
    position: relative;
    width: 75%;
    height: auto;
}
.carousel-servicios{
    width: 100%;
    height: auto;
}
  .img-servicio{
    height: 45vh;
    max-height: 300px;
    width: 100%;
    background: rgb(230, 229, 229);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.img-servicio img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition:all linear 0.3s;
}
.img-servicio img:hover{
    transform: scale(1.05);
    opacity: 0.4;
}
.img-servicio:hover::before{
    transform: scale(0.10);
    transition:all linear 0.3s;
    opacity: 1;
}
.img-servicio::before{
    content:url("/Imagenes-MAPER/lupa.png");
    position: absolute;
    transform: scale(0);
    transition: all linear 0.2s;
}
.informacion-servicio{
position: relative;
width: 100%;
height: auto;
background: var(--fondo-oscuro);
}
.informacion-servicio h3{
    font-size: 16px;
    color: black;
}
.informacion-servicio h4{
    font-weight: 500;
    position: relative;
    color: blue;
    display: block;

}
.informacion-servicio h4::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 100%;
    margin-left: 20%;
    bottom: 3px;
    border-top: 6px solid transparent ;
    border-left: 6px solid blue;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
}
.informacion-servicio p{
    line-height: var(--interlineado-parrafo);
    font-weight: var(--ancho-letra-parrafo);
    color: var(--color-texto);
}
.informacion-servicio a{
    text-decoration: none;
    color:black;
    display: inline-block;
    text-align: center;
}
.informacion-servicio a:hover h4{
    text-decoration: underline;
    text-decoration-color:blue;
}
.informacion-servicio a:hover h3{
    text-decoration: underline;
}
.navegacion-btn-servicio{
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 45%;
    visibility: hidden;
}   
.btns-sv{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnssv span{
    font-size: 20px;
    width: 20px;
    height: 20px;
}
.NextBtn-servicio{
   position: absolute;
  right: 0px;
   height: 100%;
   width: 4%;
    background: rgba(158, 150, 150, .80);
    z-index: 100;
    cursor: pointer;
    visibility: visible;
}
.PrevBtn-servicio{
    position: absolute;
    left: 0px;
    top: 0px;
   height: 100%;
   width: 4%;
   background: rgba(158, 150, 150, .80);
   z-index: 100;
   cursor: pointer;
   visibility: visible;
}
.NextBtn-servicio:hover, .PrevBtn-servicio:hover{
    background: rgba(238, 229, 229, 0.8);
}
/*fin de propiedades de servicios*/

/*Media querys de servicios*/
@media screen and (max-width: 1090px){
    .informacion-servicio p,h3{
       font-size: 15px;
    }
    .div-posicion a,p{
        font-size: 15px;
    }
}
@media screen and (max-width:970px){
    .div-contenedor{
        display: block;
    }
    .div-contenedor-servicios{
        width: 100%;
    }
    .contenedor-servicio{
        width: calc(100%);
        margin-bottom: 10px;
    }
    .img-servicio {
        height: 300px;
    }
}

@media screen and (max-width:580px){
    .img-servicio {
        height: 250px;
    }
}
@media screen and (max-width:450px){
    .informacion-servicio p,h3{
        font-size: 14px;
    }
    .div-info-posicion a,p{
        font-size: 14px;
    }
    .txt-servicios h1{
        font-size: 25px;
    }
    .txt-servicios h4{
        font-size: 15px;
    }
    .div-info-posicion a::after{
        bottom: 20px;
        border-top:7px solid transparent ;
        border-left:7px solid var(--triangulos-indicador-color);
        border-right: 7px solid transparent;
        border-bottom: 7px solid transparent;
    }
}

