html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    }
    body{
     overflow: scroll;
     overflow-x: hidden;
    }
    /* propiedades del la cabecera */
    #contacto{
        width: 100%;
        height: auto;
        position:relative;
        display:flex;
        font: bold 15px arial;
        background: whitesmoke;
    
            }
        .centrado-contacto{
        width: 81%;
        height: 50px;
        position: relative;
        margin: 0px auto;
    
                            }
            .Contenedor-contacto{
            position: relative;
            height: 100%;
            width: 80%;
            margin:0px auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
                                }
                                /* propiedades de los iconos*/
    .icono-texto{
        width: calc(33.333 - 10px);
       height: 100%;
       text-align: justify;
       display: inline-flex;
       align-items: center;
    }
    
    .Contenedor-contacto span{
       color:black;
       font-size: 15px;
       
    }
    .Contenedor-contacto i{
       color: black;
       font-size: 13px;
    
    }
    .iconos-social{
    text-decoration: none;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: left;
    }
    .iconos-social span{
       font-size: 25px;
       width: 35px;
       height: 35px;
       display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s;
    }
    /* fin de las  propiedades de los iconos */
    /*propiedades cabecera*/
    #Cabecera{
    width: 100%; 
    
            }
    .centrado-nav-logo{
        width: 81%;
        height: 100px;
        position: relative;
        margin: 0 auto 20px auto;
        display:flex;
    }
     #Imagen-logo{
        height: 100%;
        width: 20%;
        position: relative;
        margin:10px auto;
    
        }
        #Imagen-logo img{
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
       
        .contactor{
            display:none;
        }
        .div-contacto{
            display:none;
        }
        .btn-menu{
            display:none;
        }
        #mn{
            display:none;
        }
        .navega{
            margin: 0;
            padding: 0px;
            height: 0px;
            overflow: hidden;
        }
        
        .servicios{
            margin: 0;
            padding: 0px;
            height: 0px;
            overflow: hidden;
        }
    /*Propiedades del menu navegador */
    .menu{
        background: white;
        position: relative;
        max-width: 80%;
        width: 100%;
        height: 100%;
        margin-left: 30px;
        align-items: center;
    }
    .menu  ul{
        list-style: none;
        overflow: hidden;
        display: table;
        width: 100%;
    }
    #as{
        color: black;
    }
    #as::after{
        content: "";
        position: absolute;
        bottom: 40px;
        width: calc(100% - 1.75rem);
        height: 2px;
        left: 15px;
        background: #fec800;
    }
  
    .menu a{
        text-decoration: none;
        position: relative;
        color: #999999;
        font-weight: 800;
        display: block;
        padding:50px 15px;
        border: 1px solid transparent;
    
    }
    .menu  > ul > li{
        float: left;
    }
    .menu a:hover{
        color: black;   
        transition: all 0.8s;
    }
    /* Menu de segundo nivel */
    .menu2 a{
        padding:20px 10px;
        color: white;
    }
    .menu li ul{
        position: absolute;
        width: 300px;
    }
    .menu  li:hover li{
       max-height: 500px;
       height: 50px;
       border: 1px solid  #ebaa12;
       background: #fec800;
       overflow: visible; 
      
    }
    .menu li li{ 
        width: 300px;
        max-height: 0;
        height: 0;
        overflow: hidden;
        transition: all .7s;
    }
    .menu2{
        top: 120px;
        visibility: hidden;
        z-index: 210;
    }
    .menu li:hover .menu2{
        visibility: visible;
    }
    .menu ul ul :hover{
        background: #ebaa12;
    }
    .menu  li>ul>li>{ 
        max-height: 0;
        height: 0;
        overflow: hidden;
        transition: all .7s;
    }
    /*media querys de menu navegacion de cabecera */
    @media screen and (min-width:2100px){
        .menu > ul > li{
            margin-left: 50px;
        }
        }
        @media screen and (min-width:1900px){
            .menu > ul > li{
                margin-left: 40px;
            }
        }
        @media screen and (min-width:1650px){
            .menu  > ul > li{
                margin-left: 30px;
            }
        }
    @media screen and (min-width:1500px){
        .menu  > ul > li{
            margin-right: 20px;
        }
    }
    @media screen and (max-width:1270px){
        .menu  a{
            padding:50px 10px;
        }
        .menu2 a{
            padding:20px 10px;
            color: white;
        }
        .menu  li>ul>li{ 
            width: 250px;
        }
        #as::before{
            content: "";
            position: absolute;
            bottom: 40px;
            width: calc(100% - 1.25rem);
            height: 2px;
            background: #fec800;
        }
        .menu li ul{
            width: 250px;
        }
    }
    @media screen and (max-width:1150px){
        .menu a{
            padding:50px 5px;
        }
        .menu2 a{
            padding:20px 10px;
            color: white;
        }
        #as::before{
            content: "";
            position: absolute;
            bottom: 40px;
            width: calc(100% - .65rem);
            height: 2px;
            background: #fec800;
        }
     
    }
    @media screen and (max-width:1070px){
        .menu a{
            font-size: 15px;
        }
        .menu li>ul>li{ 
            width: 220px;
            font-size: 15px;
        }
        .menu2 a{
            padding:20px 10px;
            color: white;
        }
        .menu li ul{
            width: 220px;
        }
        .Contenedor-contacto i{
            font-size: 11px;
         }
    }
    @media screen and (max-width:1020px){
        .menu  a{
            font-size: 14px;
        }
        .menu li>ul>li{ 
            width: 210px;
            font-size: 15px;
        }
        .menu2 a{
            padding:20px 10px;
            color: white;
        }
        .menu li ul{
            width: 210px;
        }
    }
    /* fin de las propiedades del menu navegador */
    /*fin propiedades de la cabecera */
    
    /*media querys de la cabecera*/
    @media screen and (max-width:970px){
        /*cabecera*/
        #Cabecera{
            height: auto;
            width: 100%; 
         }
         .Contenedor-contacto{
             display:none;
         }
         .menu{
             display: none;
         }
         #Imagen-logo{
            width: 40%;
            height: 110px;
            margin:10px 0;
            }
            .btn-menu{
                width: 100px;
                height: 90px;
                position: absolute;
                display: flex;
                right: 0;
                top:10px;
                background: #ebaa12;
                align-items: center;
                padding: 10px;
                z-index: 10;
                cursor: pointer;
                transition: all linear .5s;
            }
            #mn{
                display:none;
            }
            /*menu de navegacion */
            .navega{
                max-width: 1100px;
                width: 81%;
                font-size: small;
                text-align: justify;
                color:black;
                margin:40px auto 10px auto;
                padding: 0px;
                height: 0px; 
                overflow: hidden;
                transition: all linear 0.6s;
            }
            #mn:checked ~ #mna{
                overflow: visible;
                height: 560px;
                transition: all linear 0.6s;
            }
            
            .navega  li{
                line-height: 50px;
                background: rgb(177, 169, 169, 0.2);
            }
            .navega  ul{
                list-style: none;
                padding: 0px;
           
            }
            .navega a{
                text-decoration: none;
                color: black;
                font-weight: 800;
                display: block;
                padding: 0 20px;
            }
            .navega a#ser{
                color: #ebaa12;
            }
            .navega a#colort{
                color: black;
                text-decoration: underline;
            }
            
            .navega li ul a{
                color: #525151;
                padding-left: 40px;
                font-weight: 400;
                font-size: 14px;
            }
            .navega li ul a:hover{
                color:black;
            }
            
            
            /*informacion de contacto*/
            .contactor{
                max-width: 1100px;
                width: 81%;
                height: auto;
                position: relative;
                margin: 20px auto;
                display:block;
                background: white;
            }
            .div-contacto{
                width: 100%;
               height: calc(33.3333%);
               text-align: justify;
               display: flex;
               align-items: center;
               border-bottom: 1px solid rgba(158, 150, 150, .50);
           }
           .div-texto-iconos{
            width: 80%;
            height: 100%;
            text-align: justify;
            display: block;
            align-items: center;
            padding: 15px 0;
           }
           .div-texto-iconos h4{
               color: #999999;
               font-weight: 100;
               font-size: 15px;
           }
           .iconos-contacto{
            text-decoration: none;
            width: 60px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: left;
    
            }
            .btn {
                font-size: 30px;
                width: 40px;
                height: 40px;
                display: flex;
            align-items: center;
            justify-content: center;
            transition: all 2s;
            }
            .iconos-contacto span{
                font-size: 40px;
                width: 50px;
                height: 50px;
                display: flex;
            align-items: center;
            justify-content: center;
            transition: all 2s;
            }
    }
    @media screen and (max-width:570px){
        .div-texto-iconos i{
            font-size: 13px;
        }
        .iconos-contacto span{
            font-size: 25px;
            width: 30px;
            height: 30px;
    
        }
        .btn-menu{
            width: 80px;
            height: 50%;
            top:30%;
            transition: all linear .5s;
    }
    #Imagen-logo{
        width:50%;
    }
}
    @media screen and (max-width:390px){
        .div-texto-iconos i{
            font-size: 12px;
        }

    }
    /*fin de media querys cabecera*/

/* propiedades del icono de whatsapp */
.w-contenedor{
    position: fixed;
    height: 70px;
    width: 80px;
    right: 0px;
    bottom: 10px;
    display: flex;
    z-index: 300;
    justify-content: right;
    transition: all linear 0.6s;
    justify-content: center;
    align-items: center;
}
.w-contenedor a#ref{
   visibility: hidden;
   z-index: 200;
}
.w-contenedor:hover{
width: 25%;
transition: all linear 0.6s;
}
.w-contenedor:hover .w-texto{
    width:75%;
    transition: all linear 0.6s;
    visibility: visible;
}
.w-contenedor:hover a#ref{
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: visible;
}
.w-texto{
    height: 60%;
    width: 0px;
    overflow:hidden;
    display: flex;
    background: #f5f5f5;
    transition: all linear 0.6s;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.w-texto p{
    font-size:13px;
    font-weight: 700;
}

.icono-w{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    background: #0fbe43;
    }
    .icono-w span{
       font-size: 50px;
       width: 50px;
       height: 50px;
       display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s;
    }
    /*fin de las propiedades */
    
    /*Media querys de boton whatsapp*/
    @media screen and (min-width:1500px){
        .w-contenedor:hover{
            width: 20%;
            }
    }
    @media screen and (max-width:1260px){
        .w-texto p{
        text-align: center;
        }
    }
    @media screen and (max-width:1070px){
        .w-contenedor{
            height: 60px;
        }
        .w-texto p{
            font-size:12px;
        }
        .icono-w{
        width: 50px;
        height: 50px;
        }
        .icono-w span{
           font-size: 40px;
           width: 45px;
           height: 45px;
    }
    }
    @media screen and (max-width:970px){
        .w-contenedor:hover .w-texto{
            display:none;
        }
        .w-contenedor{
            width: 70px;
        }
        .w-contenedor:hover{
            width: 70px;
        }
    }
    @media screen and (max-width:570px){
        .w-contenedor{
            height: 60px;
            width: 60px;
            margin-right: 5px;
        }
        .w-contenedor:hover{
            width: 60px;
        }
    }
/*fin de las media querys boton whatsapp*/

    /*propiedades imagen de fondo y texto servicios*/
.img-fondo{
width: 100%;
height: 300px;
position: relative;
}
.img-fondo img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.txt-servicios{
position: absolute;
top:0;
left: 0;
right: 0;
bottom: 0;
width: 81%;
height: 80px;
margin: 60px auto 60px;
line-height: 40px;
}
/*fin de las propiedades img fondo y txt servicios */
/*pŕopiedades de info posicion */
.div-posicion{
    border-bottom: 1px solid black;
    width: 100%;
    height: 50px;
    position: relative;
}
.div-info-posicion{
    width: 81%;
    height: 100%;
    margin: 0px auto;
    position: relative;
    display: flex;
    box-sizing: border-box;
}

.div-info-posicion a,p{
    text-decoration: none;
    color: black;
    position: relative;
    display: block;
    padding: 15px 0;
    margin-right: 30px;
}

.div-info-posicion a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 10px;
    left: 100%;
    bottom: 17px;
    border-top:8px solid transparent ;
    border-left:8px solid #999999;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
/*fin de las propiedades info posicion */

/*propiedades de servicios */
.div-contenedor{
    margin: 20px auto 0px;
    box-sizing: border-box;
    position: relative;
    width: 81%;
    height: auto;
    display: flex;
}
/*propiedades del menu de servicios */
.menu-servicios{
    width: 25%;
    height: 50%;
    position: relative;
    margin-right: 30px;
}
.menu-servicios a{
    text-decoration: none;
    color: #999999;
    font-weight: 900;
    display: block;
    padding: 23px 20px;
}
.menu-servicios ul{
    list-style: none;
    padding: 0px;
}
.menu-servicios li{
    border: 1px solid #999999;
}
.menu-servicios li:hover{
    background: #f2f2f2;
    border-left: 2px solid #fdc703;
    transition: all 0.7s ;
}
.menu-servicios li>a:hover{
    color: black;

}
.menu-servicios li#adi{
    border-left:  2px solid #fdc703;
    background: #f2f2f2;
}
.menu-servicios li#adi a{
    color:black;
}
/*fin de propiedades de menu servicios */

/*propiedades de contenedor de servicios*/
.div-contenedor-servicios{
    position: relative;
    width: 75%;
    height: auto;
    display: block;
 
}
.div-servicios{
    width: 100%;
    height:auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   margin-bottom: 30px;
} 
.contenedor-info-diseño {
position: relative;
width: calc(50% - 20px);
height: auto;
background: white;
border-radius: 5px;
}
.contenedor-info-diseño img{
    width: 100%;
    height: 300px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.contenedor-info-diseño p{
    text-align: justify;
    color:#999999;
    margin: 0;
    line-height: 25px;
    font-weight: 400;
}
#t3{
    text-align: right;
    font-size: 20px;
    padding: 15px 0 0 0;

}
.texto-descarga{
    width: 100%;
    height: auto;
    display: flex;
    border: 1px solid #999999;
    border-left: 4px solid #999999; 
    align-items: center;
}
.texto-descarga:hover{
    background: #f2f2f2;
    border-left: 4px solid #fdc703;
    transition: all 0.7s ease;
}
.texto-descarga:hover i{
    color:black;
    transition: all 0.7s ease;
}
.texto-descarga span{
    color:black;
    font-size: 15px;
    margin-left: 20px;
}
.texto-descarga i{
    text-align: justify;
    color: #999999;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;

}
.icono-descarga{
    text-decoration: none;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: left;
    }
    .icono-descarga span{
        font-size: 35px;
        width: 35px;
        height: 35px;
    align-items: center;
    justify-content: center;
    transition: all 2s;
    }
/*fin de propiedades de servicios*/

/*medias querys de info servicio*/
@media screen and (max-width: 1070px){
    .menu-servicios a{
        padding: 20px;
        font-size: 14px;
    }
    .div-posicion a,p{
        font-size: 15px;
    }
    .div-info-posicion a::after{
        bottom:20px;
        border-top:6px solid transparent ;
        border-left:6px solid #999999;
        border-right: 6px solid transparent;
        border-bottom: 6px solid transparent;
    }
}
@media screen and (max-width:970px){
    .div-contenedor{
        display: block;
    }
    .menu-servicios{
        width: 100%;
        margin-bottom: 20px;
    }
    .div-servicios{
        margin-bottom:0;;
    }
    .div-contenedor-servicios{
        width: 100%;
    }
    .contenedor-info-diseño{
        width: calc(100%);
        height: auto;
        margin-bottom: 10px;
    }
    .contenedor-info-diseño  img{
        height: 250px;
    }
    .menu-servicios a{
        padding: 10px 20px;
        border-radius:5px;
    }
    .menu-servicios li{
        border-radius: 5px;
        margin-bottom: 5px;
    }

#t3{
    text-align: left;
}
}
@media screen and (max-width:400px){
    .div-posicion a,p{
        font-size: 10px;
    }
    .div-posicion{
        height: 60px;
    }
    .div-info-posicion a::after{
        bottom: 32px;
        border-top:6px solid transparent ;
        border-left:6px solid #999999;
        border-right:6px solid transparent;
        border-bottom:6px solid transparent;
    }
    .txt-servicios h1{
        font-size: 25px;
    }
    .contenedor-info-diseño p{
        font-size: 14px;
    }
    #t3{
        font-size: 15px;
    }
    .texto-descarga i{
        font-size: 13px;
    }
}
/*fin de las medias querys de info servicio */

/*propiedades de pie de pagina*/
.pie-pagina{
    position: relative;
    width: 100%;
    height: auto;
    background: white;

}
.div-pie-pagina{
    position: relative;
    width: 81%;
    height: auto;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.divicion-column{
    position: relative;
    width: calc(33.33% - 10px);
    height: 100%;
    display: block;
}
.acerca-de{
    width: auto;
    position: relative;
    border-bottom: 2px solid red;
    height: calc(20% - 10px);
    margin-top: 20px;
}
.div-footer{
width: 100%;
height: calc(80% - 10px);
position: relative;
display: block;
text-align: justify;
margin-top: 20px;
}
.div-footer p{
    line-height: 15px;
    margin-top: 20px;
}
.imagen-empresa{
     width: 50%;
     height: 100px;
    border-radius: 5px;
    }
    .imagen-empresa img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

.texto-icono{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}
.texto-icono span{
    color:black;
    font-size: 15px;
    
}
.texto-icono i{ 
    text-align: justify;
    color: black;
    font-size: 15px;
    margin-left: 10px;
}
.icono-social{
text-decoration: none;
width: 55px;
height: 55px;
display: flex;
align-items: center;
justify-content: left;
}
.icono-social span{
    font-size: 35px;
    width: 35px;
    height: 35px;
align-items: center;
justify-content: center;
transition: all 2s;
}

/*medias querys de pie de pagina*/
@media screen and (max-width:1250px){
    .texto-icono i{
        text-align: justify;
        color: black;
        font-size: 13px;
    }
    .div-footer p{
        line-height: 20px;
        margin-top: 20px;
        font-size: 13px;
    }
}
@media screen and (max-width:1130px){
    .icono-social{
        width: 45px;
        height: 45px;
        }
        .icono-social span{
            font-size: 30px;
            width: 30px;
            height: 30px;
        }
}
@media screen and (max-width:970px){
    .div-pie-pagina{
        justify-content: space-evenly;
    }
    .divicion-column{
        position: relative;
        width: calc(50% - 30px);
        height: 100%;
        display:block;
        transition: all linear .5s;
    }
    .acerca-de{
        max-width: 500px;
        width: 100%;
        position: relative;
        border-bottom: 2px solid red;
        height: calc(20% - 10px);
        margin-top: 20px;
        transition: all linear .5s;
    }
}
@media screen and (max-width:710px){
    .divicion-column{
        position: relative;
        width: calc(100%);
        height: 100%;
        display:block;
        transition: all linear .5s;
    }
    .acerca-de{
        max-width: 1000px;
        width: 100%;
        position: relative;
        border-bottom: 2px solid red;
        height: calc(20% - 10px);
        margin-top: 20px;
        transition: all linear .5s;
    }
}