html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    }
    body{
     overflow: scroll;
     overflow-x: hidden;
    }
/*pŕopiedades de info posicion */
.div-info-posicion a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 10px;
    left: 100%;
    bottom: 17px;
    border-top:8px solid transparent ;
    border-left:8px solid #999999;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
/*fin de las propiedades info posicion */

/*propiedades de servicios */
.div-contenedor{
    margin: 20px auto 0px;
    box-sizing: border-box;
    position: relative;
    width: 81%;
    height: auto;
    display: flex;
}

/*propiedades de contenedor de servicios*/
.div-contenedor-servicios{
    position: relative;
    width: 75%;
    height: auto;
    display: block;
 
}
.div-servicios{
    width: 100%;
    height:auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   margin-bottom: 30px;
} 
.contenedor-info-diseño {
position: relative;
width: calc(50% - 20px);
height: auto;
background: white;
border-radius: 5px;
}
.contenedor-info-diseño img{
    width: 100%;
    height: 400;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.contenedor-info-diseño p{
    text-align: justify;
    color:#999999;
    margin: 0;
    line-height: 25px;
    font-weight: 400;
}
#t3{
    text-align: right;
    font-size: 20px;
    padding: 15px 0 0 0;

}
.texto-descarga{
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid #999999;
    border-left: 4px solid #999999; 
    align-items: center;
}
.texto-descarga:hover{
    background: #f2f2f2;
    border-left: 4px solid #fdc703;
    transition: all 0.7s ease;
}
.texto-descarga:hover i{
    color:black;
    transition: all 0.7s ease;
}
.texto-descarga span{
    color:black;
    font-size: 15px;
    margin-left: 20px;
}
.texto-descarga i{
    text-align: justify;
    color: #999999;
    font-size: 15px;
    margin-left: 20px;

}
.icono-descarga{
    text-decoration: none;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: left;
    }
    .icono-descarga span{
        font-size: 35px;
        width: 35px;
        height: 35px;
    align-items: center;
    justify-content: center;
    transition: all 2s;
    }

/*fin de propiedades de servicios*/

/*medias querys de info servicio*/
@media screen and (max-width: 1070px){
    .div-posicion a,p{
        font-size: 15px;
    }
    .div-info-posicion a::after{
        bottom:20px;
        border-top:6px solid transparent ;
        border-left:6px solid #999999;
        border-right: 6px solid transparent;
        border-bottom: 6px solid transparent;
    }
}
@media screen and (max-width:970px){
    .div-contenedor{
        display: block;
    }
    .div-servicios{
        margin-bottom:0;;
    }
    .div-contenedor-servicios{
        max-width: 100%;
        width: 100%;
    }
    .contenedor-info-diseño{
        width: calc(100%);
        height: auto;
        margin-bottom: 10px;
    }
    .contenedor-info-diseño  img{
        height: 250px;
    }
    .texto-descarga{
        width: 100%;
        height: 100%;
}
#t3{
    text-align: left;
}
}
@media screen and (max-width:540px){

    .div-info-posicion a::after{
        bottom: 21px;
        border-top:6px solid transparent ;
        border-left:6px solid #999999;
        border-right:6px solid transparent;
        border-bottom:6px solid transparent;
    }
    .div-info-posicion a,p{
        font-size: 12px;
        margin-right: 22px;
    }
    .txt-servicios h1{
        font-size: 25px;
    }
    .contenedor-info-diseño p{
        font-size: 14px;
    }
    #t3{
        font-size: 15px;
    }
    .texto-descarga i{
        font-size: 13px;
    }
}
/*fin de las medias querys de info servicio */
